<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuaixiu.order.dao.ReworkOrderMapper">
    <!-- Result Map-->
    <resultMap id="BaseResultMap" type="com.kuaixiu.order.entity.ReworkOrder">
        <result column="id" property="id"/>
        <result column="order_rework_no" property="orderReworkNo"/>
        <result column="parent_order" property="parentOrder"/>
        <result column="provider_code" property="providerCode"/>
        <result column="provider_name" property="providerName"/>
        <result column="shop_code" property="shopCode"/>
        <result column="shop_name" property="shopName"/>
        <result column="surplus_day" property="surplusDay"/>
        <result column="total_day" property="totalDay"/>
        <result column="order_price" property="orderPrice"/>
        <result column="real_price" property="realPrice"/>
        <result column="order_status" property="orderStatus"/>
        <result column="cancel_type" property="cancelType"/>
        <result column="cancel_status" property="cancelStatus"/>
        <result column="from_system" property="fromSystem"/>
        <result column="agreed_time" property="agreedTime"/>
        <result column="is_dispatch" property="isDispatch"/>
        <result column="dispatch_time" property="dispatchTime"/>
        <result column="engineer_id" property="engineerId"/>
        <result column="engineer_number" property="engineerNumber"/>
        <result column="engineer_name" property="engineerName"/>
        <result column="engineer_mobile" property="engineerMobile"/>
        <result column="start_check_time" property="startCheckTime"/>
        <result column="end_check_time" property="endCheckTime"/>
        <result column="start_repair_time" property="startRepairTime"/>
        <result column="end_repair_time" property="endRepairTime"/>
        <result column="sort" property="sort"/>
        <result column="is_comment" property="isComment"/>
        <result column="is_lock" property="isLock"/>
        <result column="is_del" property="isDel"/>
        <result column="in_time" property="inTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_userid" property="updateUserid"/>
        <result column="end_time" property="endTime"/>
        <result column="cancel_reason" property="cancelReason"/>
        <result column="eng_note" property="engNote"/>
        <result column="rework_reasons" property="reworkReasons"/>
        <result column="reasons_detail" property="reasonsDetail"/>
    </resultMap>

    <!-- kx_rework_order table all fields -->
    <sql id="Base_Column_List">
        id,order_rework_no,parent_order,provider_code,provider_name,shop_code,shop_name,surplus_day,total_day,order_price,real_price,order_status,cancel_type,cancel_status,from_system,agreed_time,is_dispatch,date_format(`dispatch_time`,'%Y-%m-%d %H:%i:%s')dispatch_time,engineer_id,engineer_number,engineer_name,engineer_mobile,date_format(`start_check_time`,'%Y-%m-%d %H:%i:%s')start_check_time,date_format(`end_check_time`,'%Y-%m-%d %H:%i:%s')end_check_time,date_format(`start_repair_time`,'%Y-%m-%d %H:%i:%s')start_repair_time,date_format(`end_repair_time`,'%Y-%m-%d %H:%i:%s')end_repair_time,sort,is_comment,is_lock,is_del,date_format(`in_time`,'%Y-%m-%d %H:%i:%s')in_time,date_format(`update_time`,'%Y-%m-%d %H:%i:%s')update_time,update_userid,date_format(`end_time`,'%Y-%m-%d %H:%i:%s')end_time,cancel_reason,eng_note,rework_reasons,reasons_detail
    </sql>

    <!-- 插入记录 -->
    <insert id="add" parameterType="Object">
        insert into kx_rework_order
        (id,order_rework_no,parent_order,provider_code,provider_name,shop_code,shop_name,surplus_day,total_day,order_price,real_price,order_status,cancel_type,cancel_status,from_system,agreed_time,is_dispatch,dispatch_time,engineer_id,engineer_number,engineer_name,engineer_mobile,start_check_time,end_check_time,start_repair_time,end_repair_time,sort,is_comment,is_lock,is_del,in_time,update_time,update_userid,end_time,cancel_reason,eng_note,rework_reasons,reasons_detail)
        values
        (#{id},#{orderReworkNo},#{parentOrder},#{providerCode},#{providerName},#{shopCode},#{shopName},#{surplusDay},#{totalDay},#{orderPrice},#{realPrice},#{orderStatus},#{cancelType},#{cancelStatus},#{fromSystem},#{agreedTime},#{isDispatch},#{dispatchTime},#{engineerId},#{engineerNumber},#{engineerName},#{engineerMobile},#{startCheckTime},#{endCheckTime},#{startRepairTime},#{endRepairTime},#{sort},#{isComment},#{isLock},#{isDel},#{inTime},#{updateTime},#{updateUserid},#{endTime},#{cancelReason},#{engNote},#{reworkReasons},#{reasonsDetail})
    </insert>

    <!-- 根据id，修改记录-->
    <update id="update" parameterType="Object">
        update kx_rework_order 
        set 
            id=#{id},
            order_rework_no=#{orderReworkNo},
            parent_order=#{parentOrder},
            provider_code=#{providerCode},
            provider_name=#{providerName},
            shop_code=#{shopCode},
            shop_name=#{shopName},
            surplus_day=#{surplusDay},
            total_day=#{totalDay},
            order_price=#{orderPrice},
            real_price=#{realPrice},
            order_status=#{orderStatus},
            cancel_type=#{cancelType},
            cancel_status=#{cancelStatus},
            from_system=#{fromSystem},
            agreed_time=#{agreedTime},
            is_dispatch=#{isDispatch},
            dispatch_time=#{dispatchTime},
            engineer_id=#{engineerId},
            engineer_number=#{engineerNumber},
            engineer_name=#{engineerName},
            engineer_mobile=#{engineerMobile},
            start_check_time=#{startCheckTime},
            end_check_time=#{endCheckTime},
            start_repair_time=#{startRepairTime},
            end_repair_time=#{endRepairTime},
            sort=#{sort},
            is_comment=#{isComment},
            is_lock=#{isLock},
            is_del=#{isDel},
            in_time=#{inTime},
            update_time=#{updateTime},
            update_userid=#{updateUserid},
            end_time=#{endTime},
            cancel_reason=#{cancelReason},
            eng_note=#{engNote},
            rework_reasons=#{reworkReasons},
            reasons_detail=#{reasonsDetail}
        where id=#{id}
    </update>

    <!-- 删除记录 -->
    <delete id="delete" parameterType="Object">
        delete from kx_rework_order where id = #{id}
    </delete>

    <!-- 根据id查询  -->
    <select id="queryById" resultMap="BaseResultMap" parameterType="Object">
        select
        <include refid="Base_Column_List"/>
        from kx_rework_order where id = #{id}
    </select>

    <!-- 根据返修订单号查询  -->
    <select id="queryByReworkNo" resultMap="BaseResultMap" parameterType="Object">
        select
        <include refid="Base_Column_List"/>
        from kx_rework_order where order_rework_no = #{orderReworkNo}
    </select>

    <!-- //根据父订单号查询未完成返修单  -->
    <select id="queryByParentOrder" resultMap="BaseResultMap" parameterType="Object">
        select
        <include refid="Base_Column_List"/>
        from kx_rework_order where parent_order=#{parentOrder}
        and order_status &lt; 50
    </select>

    <!-- 根据查询  -->
    <select id="queryReworkListForPage" resultType="Map" parameterType="Object">
        select
        r.in_time inTime,r.order_rework_no reworkNo,r.parent_order parentNo,
        o.customer_name name,o.mobile mobile,o.brand_name brandName,o.model_name modelName,
        o.color color,r.surplus_day surplusDay,r.total_day totalDay,
        o.engineer_number beforeEngNumber,o.engineer_name beforeEngName,
        r.engineer_number engNumber,r.engineer_name EngName,r.order_status orderStatus
        from kx_rework_order r LEFT JOIN kx_order o ON r.parent_order=o.order_no
        where 1=1
        <if test="projectId == 1 and projectId != ''">
            and o.order_no in
            (select d.order_no from kx_order_detail d
            where 1=1
            AND d.project_id = projectId
            )
        </if>
        <if test="engineerNumber != null and engineerNumber != ''">
            and r.engineer_number like CONCAT('%', #{brandName}, '%')
        </if>
        <if test="brandId != null and brandId != ''">
            and o.brand_id = #{brandId}
        </if>
        <if test="queryStartTime != null and queryStartTime != ''">
            and t.in_time &gt;= #{queryStartTime}
        </if>
        <if test="queryEndTime != null and queryEndTime != ''">
            and t.in_time &lt;= #{queryEndTime}
        </if>
        <if test="modelId != null and modelId != ''">
            and o.model_id = #{modelId}
        </if>
        <if test="orderReworkNo != null and orderReworkNo != ''">
            and r.order_rework_no like CONCAT('%', #{orderReworkNo}, '%')
        </if>
        <if test="parentOrder != null and parentOrder != ''">
            and r.parent_order like CONCAT('%', #{parentOrder}, '%')
        </if>
    </select>

    <!-- 查询列表无分页 -->
    <select id="queryList" resultMap="BaseResultMap" parameterType="Object">
        select
        <include refid="Base_Column_List"/>
        from kx_rework_order
        where 1=1
        <if test="id != null and id != ''">
            and id = #{id}
        </if>
        <if test="orderReworkNo != null and orderReworkNo != ''">
            and order_rework_no = #{orderReworkNo}
        </if>
        <if test="parentOrder != null and parentOrder != ''">
            and parent_order = #{parentOrder}
        </if>
        <if test="providerCode != null and providerCode != ''">
            and provider_code = #{providerCode}
        </if>
        <if test="providerName != null and providerName != ''">
            and provider_name = #{providerName}
        </if>
        <if test="shopCode != null and shopCode != ''">
            and shop_code = #{shopCode}
        </if>
        <if test="shopName != null and shopName != ''">
            and shop_name = #{shopName}
        </if>
        <if test="orderPrice != null and orderPrice != ''">
            and order_price = #{orderPrice}
        </if>
        <if test="realPrice != null and realPrice != ''">
            and real_price = #{realPrice}
        </if>
        <if test="orderStatus != null and orderStatus != ''">
            and order_status = #{orderStatus}
        </if>
        <if test="cancelType != null and cancelType != ''">
            and cancel_type = #{cancelType}
        </if>
        <if test="cancelStatus != null and cancelStatus != ''">
            and cancel_status = #{cancelStatus}
        </if>
        <if test="fromSystem != null and fromSystem != ''">
            and from_system = #{fromSystem}
        </if>
        <if test="agreedTime != null and agreedTime != ''">
            and agreed_time = #{agreedTime}
        </if>
        <if test="isDispatch != null and isDispatch != ''">
            and is_dispatch = #{isDispatch}
        </if>
        <if test="dispatchTime != null and dispatchTime != ''">
            and dispatch_time = #{dispatchTime}
        </if>
        <if test="engineerId != null and engineerId != ''">
            and engineer_id = #{engineerId}
        </if>
        <if test="engineerNumber != null and engineerNumber != ''">
            and engineer_number = #{engineerNumber}
        </if>
        <if test="engineerName != null and engineerName != ''">
            and engineer_name = #{engineerName}
        </if>
        <if test="engineerMobile != null and engineerMobile != ''">
            and engineer_mobile = #{engineerMobile}
        </if>
        <if test="startCheckTime != null and startCheckTime != ''">
            and start_check_time = #{startCheckTime}
        </if>
        <if test="endCheckTime != null and endCheckTime != ''">
            and end_check_time = #{endCheckTime}
        </if>
        <if test="startRepairTime != null and startRepairTime != ''">
            and start_repair_time = #{startRepairTime}
        </if>
        <if test="endRepairTime != null and endRepairTime != ''">
            and end_repair_time = #{endRepairTime}
        </if>
        <if test="sort != null and sort != ''">
            and sort = #{sort}
        </if>
        <if test="isComment != null and isComment != ''">
            and is_comment = #{isComment}
        </if>
        <if test="isLock != null and isLock != ''">
            and is_lock = #{isLock}
        </if>
        <if test="isDel != null and isDel != ''">
            and is_del = #{isDel}
        </if>
        <if test="inTime != null and inTime != ''">
            and in_time = #{inTime}
        </if>
        <if test="updateTime != null and updateTime != ''">
            and update_time = #{updateTime}
        </if>
        <if test="updateUserid != null and updateUserid != ''">
            and update_userid = #{updateUserid}
        </if>
        <if test="endTime != null and endTime != ''">
            and end_time = #{endTime}
        </if>
        <if test="cancelReason != null and cancelReason != ''">
            and cancel_reason = #{cancelReason}
        </if>
        <if test="engNote != null and engNote != ''">
            and eng_note = #{engNote}
        </if>
        <if test="reworkReasons != null and reworkReasons != ''">
            and rework_reasons = #{reworkReasons}
        </if>
        <if test="reasonsDetail != null and reasonsDetail != ''">
            and reasons_detail = #{reasonsDetail}
        </if>
    </select>

    <!-- 查询列表 带分页 -->
    <select id="queryListForPage" resultMap="BaseResultMap" parameterType="Object">
        select
        <include refid="Base_Column_List"/>
        from kx_rework_order
        where 1=1
        <if test="id != null and id != ''">
            and id = #{id}
        </if>
        <if test="orderReworkNo != null and orderReworkNo != ''">
            and order_rework_no = #{orderReworkNo}
        </if>
        <if test="parentOrder != null and parentOrder != ''">
            and parent_order = #{parentOrder}
        </if>
        <if test="providerCode != null and providerCode != ''">
            and provider_code = #{providerCode}
        </if>
        <if test="providerName != null and providerName != ''">
            and provider_name = #{providerName}
        </if>
        <if test="shopCode != null and shopCode != ''">
            and shop_code = #{shopCode}
        </if>
        <if test="shopName != null and shopName != ''">
            and shop_name = #{shopName}
        </if>
        <if test="orderPrice != null and orderPrice != ''">
            and order_price = #{orderPrice}
        </if>
        <if test="realPrice != null and realPrice != ''">
            and real_price = #{realPrice}
        </if>
        <if test="orderStatus != null and orderStatus != ''">
            and order_status = #{orderStatus}
        </if>
        <if test="cancelType != null and cancelType != ''">
            and cancel_type = #{cancelType}
        </if>
        <if test="cancelStatus != null and cancelStatus != ''">
            and cancel_status = #{cancelStatus}
        </if>
        <if test="fromSystem != null and fromSystem != ''">
            and from_system = #{fromSystem}
        </if>
        <if test="agreedTime != null and agreedTime != ''">
            and agreed_time = #{agreedTime}
        </if>
        <if test="isDispatch != null and isDispatch != ''">
            and is_dispatch = #{isDispatch}
        </if>
        <if test="dispatchTime != null and dispatchTime != ''">
            and dispatch_time = #{dispatchTime}
        </if>
        <if test="engineerId != null and engineerId != ''">
            and engineer_id = #{engineerId}
        </if>
        <if test="engineerNumber != null and engineerNumber != ''">
            and engineer_number = #{engineerNumber}
        </if>
        <if test="engineerName != null and engineerName != ''">
            and engineer_name = #{engineerName}
        </if>
        <if test="engineerMobile != null and engineerMobile != ''">
            and engineer_mobile = #{engineerMobile}
        </if>
        <if test="startCheckTime != null and startCheckTime != ''">
            and start_check_time = #{startCheckTime}
        </if>
        <if test="endCheckTime != null and endCheckTime != ''">
            and end_check_time = #{endCheckTime}
        </if>
        <if test="startRepairTime != null and startRepairTime != ''">
            and start_repair_time = #{startRepairTime}
        </if>
        <if test="endRepairTime != null and endRepairTime != ''">
            and end_repair_time = #{endRepairTime}
        </if>
        <if test="sort != null and sort != ''">
            and sort = #{sort}
        </if>
        <if test="isComment != null and isComment != ''">
            and is_comment = #{isComment}
        </if>
        <if test="isLock != null and isLock != ''">
            and is_lock = #{isLock}
        </if>
        <if test="isDel != null and isDel != ''">
            and is_del = #{isDel}
        </if>
        <if test="inTime != null and inTime != ''">
            and in_time = #{inTime}
        </if>
        <if test="updateTime != null and updateTime != ''">
            and update_time = #{updateTime}
        </if>
        <if test="updateUserid != null and updateUserid != ''">
            and update_userid = #{updateUserid}
        </if>
        <if test="endTime != null and endTime != ''">
            and end_time = #{endTime}
        </if>
        <if test="cancelReason != null and cancelReason != ''">
            and cancel_reason = #{cancelReason}
        </if>
        <if test="engNote != null and engNote != ''">
            and eng_note = #{engNote}
        </if>
        <if test="reworkReasons != null and reworkReasons != ''">
            and rework_reasons = #{reworkReasons}
        </if>
        <if test="reasonsDetail != null and reasonsDetail != ''">
            and reasons_detail = #{reasonsDetail}
        </if>
    </select>

</mapper>   