<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shangji.business.dao.CompanyAreaMapper" >
    <!-- Result Map-->
    <resultMap id="BaseResultMap" type="com.shangji.business.entity.CompanyArea" >
        <result column="id" property="id"/>
        <result column="city_company_id" property="cityCompanyId"/>
        <result column="city_company" property="cityCompany"/>
        <result column="management_unit_id" property="managementUnitId"/>
        <result column="management_unit" property="managementUnit"/>
        <result column="branch_office_id" property="branchOfficeId"/>
        <result column="branch_office" property="branchOffice"/>
        <result column="contract_body_id" property="contractBodyId"/>
        <result column="contract_body" property="contractBody"/>
    </resultMap>
    
    <!-- sj_company_area table all fields -->
    <sql id="Base_Column_List" >
        id,city_company_id,city_company,management_unit_id,management_unit,branch_office_id,branch_office,contract_body_id,contract_body
    </sql>

    <!-- 插入记录 -->
    <insert id="add" parameterType="Object" >
        insert into sj_company_area
        (id,city_company_id,city_company,management_unit_id,management_unit,branch_office_id,branch_office,contract_body_id,contract_body)
        values
        (#{id},#{cityCompanyId},#{cityCompany},#{managementUnitId},#{managementUnit},#{branchOfficeId},#{branchOffice},#{contractBodyId},#{contractBody})
    </insert>

    <!-- 根据id，修改记录-->
    <update id="update" parameterType="Object" >
        update sj_company_area 
        set 
            id=#{id},
            city_company_id=#{cityCompanyId},
            city_company=#{cityCompany},
            management_unit_id=#{managementUnitId},
            management_unit=#{managementUnit},
            branch_office_id=#{branchOfficeId},
            branch_office=#{branchOffice},
            contract_body_id=#{contractBodyId},
            contract_body=#{contractBody}
        where id=#{id}
    </update>

    <!-- 删除记录 -->
    <delete id="delete" parameterType="Object">
        delete from sj_company_area where id = #{id}
    </delete>
    
    <!-- 根据id查询  -->
    <select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
        select <include refid="Base_Column_List" />
        from sj_company_area where id = #{id}
    </select>

    <!-- 查询列表无分页 -->
    <select id="queryList" resultMap="BaseResultMap"  parameterType="Object">
        select
        <include refid="Base_Column_List"/>
        from sj_company_area
        where 1=1
        <if test="id != null and id != ''" >
            and id = #{id}
        </if>
        <if test="cityCompanyId != null and cityCompanyId != ''" >
            and city_company_id = #{cityCompanyId}
        </if>
        <if test="cityCompany != null and cityCompany != ''" >
            and city_company = #{cityCompany}
        </if>
        <if test="managementUnitId != null and managementUnitId != ''" >
            and management_unit_id = #{managementUnitId}
        </if>
        <if test="managementUnit != null and managementUnit != ''" >
            and management_unit = #{managementUnit}
        </if>
        <if test="branchOfficeId != null and branchOfficeId != ''" >
            and branch_office_id = #{branchOfficeId}
        </if>
        <if test="branchOffice != null and branchOffice != ''" >
            and branch_office = #{branchOffice}
        </if>
        <if test="contractBodyId != null and contractBodyId != ''" >
            and contract_body_id = #{contractBodyId}
        </if>
        <if test="contractBody != null and contractBody != ''" >
            and contract_body = #{contractBody}
        </if>
    </select>
    
    <!-- 查询列表 带分页 -->
    <select id="queryListForPage" resultMap="BaseResultMap"  parameterType="Object">
        select
        <include refid="Base_Column_List"/>
        from sj_company_area
        where 1=1
        <if test="id != null and id != ''" >
            and id = #{id}
        </if>
        <if test="cityCompanyId != null and cityCompanyId != ''" >
            and city_company_id = #{cityCompanyId}
        </if>
        <if test="cityCompany != null and cityCompany != ''" >
            and city_company = #{cityCompany}
        </if>
        <if test="managementUnitId != null and managementUnitId != ''" >
            and management_unit_id = #{managementUnitId}
        </if>
        <if test="managementUnit != null and managementUnit != ''" >
            and management_unit = #{managementUnit}
        </if>
        <if test="branchOfficeId != null and branchOfficeId != ''" >
            and branch_office_id = #{branchOfficeId}
        </if>
        <if test="branchOffice != null and branchOffice != ''" >
            and branch_office = #{branchOffice}
        </if>
        <if test="contractBodyId != null and contractBodyId != ''" >
            and contract_body_id = #{contractBodyId}
        </if>
        <if test="contractBody != null and contractBody != ''" >
            and contract_body = #{contractBody}
        </if>
    </select>

</mapper>   