<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuaixiu.business.dao.ProjectMapper" >
    <!-- Result Map-->
    <resultMap id="BaseResultMap" type="com.shangji.business.entity.Project" >
        <result column="id" property="id"/>
        <result column="project" property="project"/>
    </resultMap>
    
    <!-- sj_project table all fields -->
    <sql id="Base_Column_List" >
        id,project
    </sql>

    <!-- 插入记录 -->
    <insert id="add" parameterType="Object" >
        insert into sj_project
        (id,project)
        values
        (#{id},#{project})
    </insert>

    <!-- 根据id，修改记录-->
    <update id="update" parameterType="Object" >
        update sj_project 
        set 
            id=#{id},
            project=#{project}
        where id=#{id}
    </update>

    <!-- 删除记录 -->
    <delete id="delete" parameterType="Object">
        delete from sj_project where id = #{id}
    </delete>
    
    <!-- 根据id查询  -->
    <select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
        select <include refid="Base_Column_List" />
        from sj_project where id = #{id}
    </select>

    <!-- 查询列表无分页 -->
    <select id="queryList" resultMap="BaseResultMap"  parameterType="Object">
        select
        <include refid="Base_Column_List"/>
        from sj_project
        where 1=1
        <if test="id != null and id != ''" >
            and id = #{id}
        </if>
        <if test="project != null and project != ''" >
            and project = #{project}
        </if>
    </select>
    
    <!-- 查询列表 带分页 -->
    <select id="queryListForPage" resultMap="BaseResultMap"  parameterType="Object">
        select
        <include refid="Base_Column_List"/>
        from sj_project
        where 1=1
        <if test="id != null and id != ''" >
            and id = #{id}
        </if>
        <if test="project != null and project != ''" >
            and project = #{project}
        </if>
    </select>

</mapper>   