<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.system.basic.user.dao.SysRoleMapper" >
    <!-- Result Map-->
    <resultMap id="BaseResultMap" type="com.system.basic.user.entity.SysRole" >
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="type" property="type"/>
        <result column="state" property="state"/>
        <result column="is_del" property="isDel"/>
        <result column="create_time" property="createTime"/>
        <result column="create_userid" property="createUserid"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_userid" property="updateUserid"/>
    </resultMap>
    
    <!-- sys_role table all fields -->
    <sql id="Base_Column_List" >
        t.id,t.name,t.type,t.state,t.is_del,
        date_format(t.`create_time`,'%Y-%m-%d %H:%i:%s')create_time,t.create_userid,
        date_format(t.`update_time`,'%Y-%m-%d %H:%i:%s')update_time,t.update_userid
    </sql>

    <!-- 插入记录 -->
    <insert id="add" parameterType="Object" >
        insert into sys_role
        (id,name,type,state,is_del,create_time,create_userid,update_time,update_userid)
        values
        (#{id},#{name},0,#{state},0,now(),#{createUserid},#{updateTime},#{updateUserid})
    </insert>

    <!-- 根据id，修改记录-->
    <update id="update" parameterType="Object" >
        update sys_role 
        set 
            id=#{id},
            name=#{name},
            type=#{type},
            state=#{state},
            is_del=#{isDel},
            create_time=#{createTime},
            create_userid=#{createUserid},
            update_time=#{updateTime},
            update_userid=#{updateUserid}
        where id=#{id}
    </update>

    <!-- 删除记录 -->
    <delete id="delete" parameterType="Object">
        delete from sys_role where id = #{id}
    </delete>
    
    <!-- 根据id查询  -->
    <select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
        select <include refid="Base_Column_List" />
        from sys_role t where id = #{id}
    </select>

    <!-- 查询列表无分页 -->
    <select id="queryList" resultMap="BaseResultMap"  parameterType="Object">
        select
        <include refid="Base_Column_List"/>
        from sys_role t
        where 1=1
        <if test="id != null and id != ''" >
            and id = #{id}
        </if>
        <if test="name != null and name != ''" >
            and name = #{name}
        </if>
        <if test="type != null and type != ''" >
            and type = #{type}
        </if>
        <if test="state != null and state != ''" >
            and state = #{state}
        </if>
        <if test="isDel != null and isDel != ''" >
            and is_del = #{isDel}
        </if>
        <if test="createTime != null and createTime != ''" >
            and create_time = #{createTime}
        </if>
        <if test="createUserid != null and createUserid != ''" >
            and create_userid = #{createUserid}
        </if>
        <if test="updateTime != null and updateTime != ''" >
            and update_time = #{updateTime}
        </if>
        <if test="updateUserid != null and updateUserid != ''" >
            and update_userid = #{updateUserid}
        </if>
    </select>
    
    <!-- 查询列表 带分页 -->
    <select id="queryListForPage" resultMap="BaseResultMap"  parameterType="Object">
        select
        <include refid="Base_Column_List"/>
        from sys_role t
        where 1=1
        <if test="id != null and id != ''" >
            and id = #{id}
        </if>
        <if test="name != null and name != ''" >
            and name = #{name}
        </if>
        <if test="type != null and type != ''" >
            and type = #{type}
        </if>
        <if test="state != null and state != ''" >
            and state = #{state}
        </if>
        <if test="isDel != null and isDel != ''" >
            and is_del = #{isDel}
        </if>
        <if test="createTime != null and createTime != ''" >
            and create_time = #{createTime}
        </if>
        <if test="createUserid != null and createUserid != ''" >
            and create_userid = #{createUserid}
        </if>
        <if test="updateTime != null and updateTime != ''" >
            and update_time = #{updateTime}
        </if>
        <if test="updateUserid != null and updateUserid != ''" >
            and update_userid = #{updateUserid}
        </if>
    </select>

    <!-- 根据用户id查询用户角色 -->
    <select id="queryRolesByUserId" resultMap="BaseResultMap"  parameterType="String">
        select <include refid="Base_Column_List" />
        from sys_user_role ur 
        LEFT JOIN sys_role t on t.id = ur.role_id 
        where ur.user_id = #{uid}
        and t.state=0
    </select>
    <!-- 根据用户id查询用户角色 -->
    <select id="queryRoles1ByUserId" resultMap="BaseResultMap"  parameterType="String">
        select <include refid="Base_Column_List" />
        from sys_user_role ur
        LEFT JOIN sys_role t on t.id = ur.role_id
        where ur.user_id = #{uid}
        and t.state=1
    </select>

    <!-- 根据用户id查询用户角色 -->
    <select id="queryRolesByRoleName" resultMap="BaseResultMap"  parameterType="String">
        select <include refid="Base_Column_List" />
        from sys_role t
        where name = #{name}
        and is_del = 0
    </select>
</mapper>   