<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuaixiu.sjBusiness.dao.AreaManagementUnitMapper" >
    <!-- Result Map-->
    <resultMap id="BaseResultMap" type="com.kuaixiu.sjBusiness.entity.AreaManagementUnit" >
        <result column="id" property="id"/>
        <result column="city_company_id" property="cityCompanyId"/>
        <result column="management_unit" property="managementUnit"/>
    </resultMap>
    
    <!-- sj_area_management_unit table all fields -->
    <sql id="Base_Column_List" >
        id,city_company_id,management_unit
    </sql>

    <!-- 插入记录 -->
    <insert id="add" parameterType="Object" >
        insert into sj_area_management_unit
        (id,city_company_id,management_unit)
        values
        (#{id},#{cityCompanyId},#{managementUnit})
    </insert>

    <!-- 根据id，修改记录-->
    <update id="update" parameterType="Object" >
        update sj_area_management_unit 
        set 
            id=#{id},
            city_company_id=#{cityCompanyId},
            management_unit=#{managementUnit}
        where id=#{id}
    </update>

    <!-- 删除记录 -->
    <delete id="delete" parameterType="Object">
        delete from sj_area_management_unit where id = #{id}
    </delete>
    
    <!-- 根据id查询  -->
    <select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
        select <include refid="Base_Column_List" />
        from sj_area_management_unit where id = #{id}
    </select>

    <!-- 查询列表无分页 -->
    <select id="queryList" resultMap="BaseResultMap"  parameterType="Object">
        select
        <include refid="Base_Column_List"/>
        from sj_area_management_unit
        where 1=1
        <if test="id != null and id != ''" >
            and id = #{id}
        </if>
        <if test="cityCompanyId != null and cityCompanyId != ''" >
            and city_company_id = #{cityCompanyId}
        </if>
        <if test="managementUnit != null and managementUnit != ''" >
            and management_unit = #{managementUnit}
        </if>
    </select>
    
    <!-- 查询列表 带分页 -->
    <select id="queryListForPage" resultMap="BaseResultMap"  parameterType="Object">
        select
        <include refid="Base_Column_List"/>
        from sj_area_management_unit
        where 1=1
        <if test="id != null and id != ''" >
            and id = #{id}
        </if>
        <if test="cityCompanyId != null and cityCompanyId != ''" >
            and city_company_id = #{cityCompanyId}
        </if>
        <if test="managementUnit != null and managementUnit != ''" >
            and management_unit = #{managementUnit}
        </if>
    </select>

</mapper>   