<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuaixiu.sjBusiness.dao.SjOrderMapper">
    <!-- Result Map-->
    <resultMap id="BaseResultMap" type="com.kuaixiu.sjBusiness.entity.SjOrder">
        <result column="id" property="id"/>
        <result column="order_no" property="orderNo"/>
        <result column="type" property="type"/>
        <result column="crm_no" property="crmNo"/>
        <result column="state" property="state"/>
        <result column="company_name" property="companyName"/>
        <result column="province_id" property="provinceId"/>
        <result column="city_id" property="cityId"/>
        <result column="area_id" property="areaId"/>
        <result column="street_id" property="streetId"/>
        <result column="address_detail" property="addressDetail"/>
        <result column="person" property="person"/>
        <result column="phone" property="phone"/>
        <result column="responsible_id_number" property="responsibleIdNumber"/>
        <result column="responsible_name" property="responsibleName"/>
        <result column="project_id" property="projectId"/>
        <result column="group_net" property="groupNet"/>
        <result column="single" property="single"/>
        <result column="stayPerson" property="stayPerson"/>
        <result column="approval_person" property="approvalPerson"/>
        <result column="approval_note" property="approvalNote"/>
        <result column="approval_time" property="approvalTime"/>
        <result column="feedback_person" property="feedbackPerson"/>
        <result column="feedback_note" property="feedbackNote"/>
        <result column="feedback_time" property="feedbackTime"/>
        <result column="assign_person" property="assignPerson"/>
        <result column="assign_time" property="assignTime"/>
        <result column="build_person" property="buildPerson"/>
        <result column="build_phone" property="buildPhone"/>
        <result column="build_company" property="buildCompany"/>
        <result column="end_time" property="endTime"/>
        <result column="completed_person" property="completedPerson"/>
        <result column="completed_phone" property="completedPhone"/>
        <result column="completed_time" property="completedTime"/>
        <result column="create_time" property="createTime"/>
        <result column="create_userid" property="createUserid"/>
        <result column="create_name" property="createName"/>
        <result column="meal_id" property="mealId"/>
        <result column="model_id" property="modelId"/>
        <result column="model_num" property="modelNum"/>
        <result column="poe_id" property="poeId"/>
        <result column="poe_num" property="poeNum"/>
        <result column="storage_id" property="storageId"/>
        <result column="storage_num" property="storageNum"/>
        <result column="meal_wifi_id" property="mealWifiId"/>
        <result column="model_wifi_id" property="modelWifiId"/>
        <result column="model_wifi_num" property="modelWifiNum"/>
        <result column="poe_wifi_id" property="poeWifiId"/>
        <result column="poe_wifi_num" property="poeWifiNum"/>
        <result column="storage_wifi_id" property="storageWifiId"/>
        <result column="storage_wifi_num" property="storageWifiNum"/>
        <result column="assign_company_id" property="assignCompanyId"/>
        <result column="assign_worker_id" property="assignWorkerId"/>
    </resultMap>

    <!-- sj_order table all fields -->
    <sql id="Base_Column_List">
        id,order_no,type,crm_no,state,company_name,province_id,city_id,area_id,street_id,
        address_detail,person,responsible_id_number,responsible_name,phone,project_id,group_net,single,stayPerson,approval_person,
        approval_note,date_format(`approval_time`,'%Y-%m-%d %H:%i:%s')approval_time,assign_person,
        date_format(`assign_time`,'%Y-%m-%d %H:%i:%s')assign_time,build_person,build_phone,
        build_company,date_format(`end_time`,'%Y-%m-%d %H:%i:%s')end_time,completed_person,
        completed_phone,date_format(`completed_time`,'%Y-%m-%d %H:%i:%s')completed_time,
        date_format(`create_time`,'%Y-%m-%d %H:%i:%s')create_time,create_userid,create_name,
        feedback_person,feedback_note,feedback_time,meal_id,model_id,model_num,poe_id,poe_num,
        storage_id,storage_num,meal_wifi_id,model_wifi_id,model_wifi_num,poe_wifi_id,poe_wifi_num,
        storage_wifi_id,storage_wifi_num,assign_company_id,assign_worker_id
    </sql>

    <!-- 插入记录 -->
    <insert id="add" parameterType="Object">
        insert into sj_order
        (id,order_no,type,crm_no,state,company_name,province_id,city_id,area_id,street_id,address_detail,
        person,responsible_id_number,responsible_name,phone,project_id,group_net,single,stayPerson,approval_person,approval_note,approval_time,
        assign_person,assign_time,build_person,build_phone,build_company,end_time,completed_person,
        completed_phone,completed_time,create_time,create_userid,create_name,feedback_person,
        feedback_note,feedback_time,assign_company_id,assign_worker_id)
        values
        (#{id},#{orderNo},#{type},#{crmNo},#{state},#{companyName},#{provinceId},#{cityId},#{areaId},
        #{streetId},#{addressDetail},#{person},#{responsibleIdNumber},#{responsibleName},#{phone},#{projectId},#{groupNet},#{single},#{stayPerson},
        #{approvalPerson},#{approvalNote},#{approvalTime},#{assignPerson},#{assignTime},#{buildPerson},
        #{buildPhone},#{buildCompany},#{endTime},#{completedPerson},#{completedPhone},#{completedTime},
        now(),#{createUserid},#{createName},#{feedbackPerson},#{feedbackNote},#{feedbackTime},#{assignCompanyId}
        ,#{assignWorkerId})
    </insert>

    <!-- 根据id，修改记录-->
    <update id="update" parameterType="Object">
        update sj_order 
        set
            id=#{id},
            order_no=#{orderNo},
            type=#{type},
            crm_no= #{crmNo},
            state=#{state},
            company_name=#{companyName},
            province_id=#{provinceId},
            city_id=#{cityId},
            area_id=#{areaId},
            street_id=#{streetId},
            address_detail=#{addressDetail},
            person=#{person},
            responsible_id_number=#{responsibleIdNumber},
            responsible_name=#{responsibleName},
            phone=#{phone},
            project_id=#{projectId},
            group_net=#{groupNet},
            single=#{single},
            stayPerson=#{stayPerson},
            approval_person=#{approvalPerson},
            approval_note=#{approvalNote},
            approval_time=#{approvalTime},
            feedback_person=#{feedbackPerson},
            feedback_note=#{feedbackNote},
            feedback_time=#{feedbackTime},
            assign_person=#{assignPerson},
            assign_time=#{assignTime},
            build_person=#{buildPerson},
            build_phone=#{buildPhone},
            build_company=#{buildCompany},
            end_time=#{endTime},
            completed_person=#{completedPerson},
            completed_phone=#{completedPhone},
            completed_time=#{completedTime},
            create_time=#{createTime},
            create_userid=#{createUserid},
            meal_id=#{mealId},
            model_id=#{modelId},
            model_num=#{modelNum},
            poe_id=#{poeId},
            poe_num=#{poeNum},
            storage_id=#{storageId},
            storage_num=#{storageNum},
            meal_wifi_id=#{mealWifiId},
            model_wifi_id=#{modelWifiId},
            model_wifi_num=#{modelWifiNum},
            poe_wifi_id=#{poeWifiId},
            poe_wifi_num=#{poeWifiNum},
            storage_wifi_id=#{storageWifiId},
            storage_wifi_num=#{storageWifiNum},
            assign_company_id=#{assignCompanyId},
            assign_worker_id=#{assignWorkerId}
        where id=#{id}
    </update>

    <!-- 删除记录 -->
    <delete id="delete" parameterType="Object">
        delete from sj_order where id = #{id}
    </delete>

    <!-- 根据id查询  -->
    <select id="queryById" resultMap="BaseResultMap" parameterType="Object">
        select
        <include refid="Base_Column_List"/>
        from sj_order where id = #{id}
    </select>

    <select id="queryByOrderNo" resultMap="BaseResultMap" parameterType="Object">
        select
        <include refid="Base_Column_List"/>
        from sj_order where order_no=#{orderNo} and create_userid=#{createUserid}
    </select>

    <!-- 查询列表无分页 -->
    <select id="queryList" resultMap="BaseResultMap" parameterType="Object">
        select
        <include refid="Base_Column_List"/>
        from sj_order
        where 1=1
        <if test="id != null and id != ''">
            and id = #{id}
        </if>
        <if test="queryIds != null and queryIds.size() > 0" >
            and id in
            <foreach collection="queryIds" item="item" open="(" separator=", " close=")">
                #{item}
            </foreach>
        </if>
        <if test="orderNo != null and orderNo != ''">
            and order_no like CONCAT('%', #{orderNo}, '%')
        </if>
        <if test="type != null and type != ''">
            and type = #{type}
        </if>
        <if test="state != null and state != ''">
            and state = #{state}
        </if>
        <if test="companyName != null and companyName != ''">
            and company_name like CONCAT('%', #{companyName}, '%')
        </if>
        <if test="provinceId != null and provinceId != ''">
            and province_id = #{provinceId}
        </if>
        <if test="cityId != null and cityId != ''">
            and city_id = #{cityId}
        </if>
        <if test="areaId != null and areaId != ''">
            and area_id = #{areaId}
        </if>
        <if test="streetId != null and streetId != ''">
            and street_id = #{streetId}
        </if>
        <if test="addressDetail != null and addressDetail != ''">
            and address_detail = #{addressDetail}
        </if>
        <if test="person != null and person != ''">
            and person = #{person}
        </if>
        <if test="responsibleIdNumber != null and responsibleIdNumber != ''">
            and responsible_id_number like CONCAT('%', #{responsibleIdNumber}, '%')
        </if>
        <if test="responsibleName != null and responsibleName != ''">
            and responsible_name = #{responsibleName}
        </if>
        <if test="phone != null and phone != ''">
            and phone = #{phone}
        </if>
        <if test="projectId != null and projectId != ''">
            and project_id = #{projectId}
        </if>
        <if test="groupNet != null and groupNet != ''">
            and group_not=#{groupNet}
        </if>
        <if test="single != null and single != ''">
            and single = #{single}
        </if>
        <if test="stayPerson != null and stayPerson != ''">
            and stayPerson = #{stayPerson}
        </if>
        <if test="approvalPerson != null and approvalPerson != ''">
            and approval_person = #{approvalPerson}
        </if>
        <if test="approvalNote != null and approvalNote != ''">
            and approval_note = #{approvalNote}
        </if>
        <if test="approvalTime != null and approvalTime != ''">
            and approval_time = #{approvalTime}
        </if>
        <if test="assignPerson != null and assignPerson != ''">
            and assign_person = #{assignPerson}
        </if>
        <if test="assignTime != null and assignTime != ''">
            and assign_time = #{assignTime}
        </if>
        <if test="buildPerson != null and buildPerson != ''">
            and build_person = #{buildPerson}
        </if>
        <if test="buildPhone != null and buildPhone != ''">
            and build_phone = #{buildPhone}
        </if>
        <if test="buildCompany != null and buildCompany != ''">
            and build_company = #{buildCompany}
        </if>
        <if test="endTime != null and endTime != ''">
            and end_time = #{endTime}
        </if>
        <if test="completedPerson != null and completedPerson != ''">
            and completed_person = #{completedPerson}
        </if>
        <if test="completedPhone != null and completedPhone != ''">
            and completed_phone = #{completedPhone}
        </if>
        <if test="completedTime != null and completedTime != ''">
            and completed_time = #{completedTime}
        </if>
        <if test="queryStartTime != null and queryStartTime != ''">
            and create_time &gt;= #{queryStartTime}
        </if>
        <if test="queryEndTime != null and queryEndTime != ''">
            and create_time &lt;= #{queryEndTime}
        </if>
        <if test="createTime != null and createTime != ''">
            and create_time = #{createTime}
        </if>
        <if test="createUserid != null and createUserid != ''">
            and create_userid like CONCAT('%', #{createUserid}, '%')
        </if>
        <if test="createName != null and createName != ''">
            and create_name like CONCAT('%', #{createName}, '%')
        </if>
        <if test="assignCompanyId != null and assignCompanyId != ''">
            and assign_company_id = #{assignCompanyId}
        </if>
        <if test="assignWorkerId != null and assignWorkerId != ''">
            and assign_worker_id = #{assignWorkerId}
        </if>
        <if test="isAssign != null and isAssign != ''">
            ORDER BY approval_time DESC
        </if>
        <if test="isAssign == null or isAssign == ''">
            ORDER BY create_time DESC
        </if>
    </select>

    <!-- 查询列表 带分页 -->
    <select id="queryListForPage" resultMap="BaseResultMap" parameterType="Object">
        select
        <include refid="Base_Column_List"/>
        from sj_order
        where 1=1
        <if test="id != null and id != ''">
            and id = #{id}
        </if>
        <if test="orderNo != null and orderNo != ''">
            and order_no like CONCAT('%', #{orderNo}, '%')
        </if>
        <if test="type != null and type != ''">
            and type = #{type}
        </if>
        <if test="state != null and state != ''">
            and state = #{state}
        </if>
        <if test="companyName != null and companyName != ''">
            and company_name like CONCAT('%', #{companyName}, '%')
        </if>
        <if test="provinceId != null and provinceId != ''">
            and province_id = #{provinceId}
        </if>
        <if test="cityId != null and cityId != ''">
            and city_id = #{cityId}
        </if>
        <if test="areaId != null and areaId != ''">
            and area_id = #{areaId}
        </if>
        <if test="streetId != null and streetId != ''">
            and street_id = #{streetId}
        </if>
        <if test="addressDetail != null and addressDetail != ''">
            and address_detail = #{addressDetail}
        </if>
        <if test="person != null and person != ''">
            and person = #{person}
        </if>
        <if test="responsibleIdNumber != null and responsibleIdNumber != ''">
            and responsible_id_number like CONCAT('%', #{responsibleIdNumber}, '%')
        </if>
        <if test="responsibleName != null and responsibleName != ''">
            and responsible_name like CONCAT('%', #{responsible_name}, '%')
        </if>
        <if test="phone != null and phone != ''">
            and phone = #{phone}
        </if>
        <if test="projectId != null and projectId != ''">
            and project_id = #{projectId}
        </if>
        <if test="groupNet != null and groupNet != ''">
            and group_not=#{groupNet}
        </if>
        <if test="single != null and single != ''">
            and single = #{single}
        </if>
        <if test="stayPerson != null and stayPerson != ''">
            and stayPerson = #{stayPerson}
        </if>
        <if test="approvalPerson != null and approvalPerson != ''">
            and approval_person = #{approvalPerson}
        </if>
        <if test="approvalNote != null and approvalNote != ''">
            and approval_note = #{approvalNote}
        </if>
        <if test="approvalTime != null and approvalTime != ''">
            and approval_time = #{approvalTime}
        </if>
        <if test="assignPerson != null and assignPerson != ''">
            and assign_person = #{assignPerson}
        </if>
        <if test="assignTime != null and assignTime != ''">
            and assign_time = #{assignTime}
        </if>
        <if test="buildPerson != null and buildPerson != ''">
            and build_person = #{buildPerson}
        </if>
        <if test="buildPhone != null and buildPhone != ''">
            and build_phone = #{buildPhone}
        </if>
        <if test="buildCompany != null and buildCompany != ''">
            and build_company = #{buildCompany}
        </if>
        <if test="endTime != null and endTime != ''">
            and end_time = #{endTime}
        </if>
        <if test="completedPerson != null and completedPerson != ''">
            and completed_person = #{completedPerson}
        </if>
        <if test="completedPhone != null and completedPhone != ''">
            and completed_phone = #{completedPhone}
        </if>
        <if test="completedTime != null and completedTime != ''">
            and completed_time = #{completedTime}
        </if>
        <if test="queryStartTime != null and queryStartTime != ''">
            and create_time &gt;= #{queryStartTime}
        </if>
        <if test="queryEndTime != null and queryEndTime != ''">
            and create_time &lt;= #{queryEndTime}
        </if>
        <if test="createTime != null and createTime != ''">
            and create_time = #{createTime}
        </if>
        <if test="createUserid != null and createUserid != ''">
            and create_userid like CONCAT('%', #{createUserid}, '%')
        </if>
        <if test="createName != null and createName != ''">
            and create_name like CONCAT('%', #{createName}, '%')
        </if>
        <if test="assignCompanyId != null and assignCompanyId != ''">
            and assign_company_id = #{assignCompanyId}
        </if>
        <if test="assignWorkerId != null and assignWorkerId != ''">
            and assign_worker_id = #{assignWorkerId}
        </if>
        <if test="isAssign != null and isAssign != ''">
            ORDER BY approval_time DESC
        </if>
        <if test="isAssign == null or isAssign == ''">
            ORDER BY create_time DESC
        </if>
    </select>

    <!-- 查询列表 带分页 -->
    <select id="queryWebListForPage" resultMap="BaseResultMap" parameterType="Object">
        select
        <include refid="Base_Column_List"/>
        from sj_order
        where 1=1
        <if test="id != null and id != ''">
            and id = #{id}
        </if>
        <if test="orderNo != null and orderNo != ''">
            and order_no = #{orderNo}
        </if>
        <if test="type != null and type != ''">
            and type = #{type}
            <if test="type == 1">
                <if test="state != null and state != ''">
                    and state = #{state}
                </if>
            </if>
            <if test="type == 2">
                <if test="state != null and state != ''">
                    <if test="state == 300">
                        and state in ('200','300','400')
                    </if>
                    <if test="state != 300">
                        and state = #{state}
                    </if>
                </if>
            </if>
        </if>
        <if test="companyName != null and companyName != ''">
            and company_name = #{companyName}
        </if>
        <if test="responsibleIdNumber != null and responsibleIdNumber != ''">
            and responsible_id_number like CONCAT('%', #{responsibleIdNumber}, '%')
        </if>
        <if test="responsibleName != null and responsibleName != ''">
            and responsible_name = #{responsibleName}
        </if>
        <if test="provinceId != null and provinceId != ''">
            and province_id = #{provinceId}
        </if>
        <if test="cityId != null and cityId != ''">
            and city_id = #{cityId}
        </if>
        <if test="areaId != null and areaId != ''">
            and area_id = #{areaId}
        </if>
        <if test="streetId != null and streetId != ''">
            and street_id = #{streetId}
        </if>
        <if test="addressDetail != null and addressDetail != ''">
            and address_detail = #{addressDetail}
        </if>
        <if test="person != null and person != ''">
            and person = #{person}
        </if>
        <if test="phone != null and phone != ''">
            and phone = #{phone}
        </if>
        <if test="projectId != null and projectId != ''">
            and project_id = #{projectId}
        </if>
        <if test="groupNet != null and groupNet != ''">
            and group_not=#{groupNet}
        </if>
        <if test="single != null and single != ''">
            and single = #{single}
        </if>
        <if test="stayPerson != null and stayPerson != ''">
            and stayPerson = #{stayPerson}
        </if>
        <if test="approvalPerson != null and approvalPerson != ''">
            and approval_person = #{approvalPerson}
        </if>
        <if test="assignCompanyId != null and assignCompanyId != ''">
            and assign_company_id = #{assignCompanyId}
        </if>
        <if test="assignWorkerId != null and assignWorkerId != ''">
            and assign_worker_id = #{assignWorkerId}
        </if>
        <if test="approvalNote != null and approvalNote != ''">
            and approval_note = #{approvalNote}
        </if>
        <if test="approvalTime != null and approvalTime != ''">
            and approval_time = #{approvalTime}
        </if>
        <if test="assignPerson != null and assignPerson != ''">
            and assign_person = #{assignPerson}
        </if>
        <if test="assignTime != null and assignTime != ''">
            and assign_time = #{assignTime}
        </if>
        <if test="buildPerson != null and buildPerson != ''">
            and build_person = #{buildPerson}
        </if>
        <if test="buildPhone != null and buildPhone != ''">
            and build_phone = #{buildPhone}
        </if>
        <if test="buildCompany != null and buildCompany != ''">
            and build_company = #{buildCompany}
        </if>
        <if test="endTime != null and endTime != ''">
            and end_time = #{endTime}
        </if>
        <if test="completedPerson != null and completedPerson != ''">
            and completed_person = #{completedPerson}
        </if>
        <if test="completedPhone != null and completedPhone != ''">
            and completed_phone = #{completedPhone}
        </if>
        <if test="completedTime != null and completedTime != ''">
            and completed_time = #{completedTime}
        </if>
        <if test="createTime != null and createTime != ''">
            and create_time = #{createTime}
        </if>
        <if test="createUserid != null and createUserid != ''">
            and create_userid = #{createUserid}
        </if>
        <if test="createName != null and createName != ''">
            and create_name = #{createName}
        </if>
        ORDER BY create_time DESC
    </select>

    <select id="queryImportList" resultType="Map" parameterType="Object">
        SELECT o.order_no,o.type,o.state,o.company_name,
        CONCAT(o.person,'/',o.phone)person,CONCAT(o.responsible_name,'/',o.responsible_id_number)responsible_name,
        CONCAT(a1.area,a2.area,a3.area,o.address_detail)address,o.project_id,o.group_net,o.single,
        CONCAT(o.create_userid,'/',o.create_name)create_userid,date_format(o.`create_time`,'%Y-%m-%d %H:%i:%s')create_time,o.crm_no,
        CONCAT(o.approval_person,'/',u1.`name`)approval_person,o.approval_note,date_format(o.`approval_time`,'%Y-%m-%d %H:%i:%s')approval_time,
        CONCAT(o.assign_person,'/',u2.`name`)assign_person,date_format(o.`assign_time`,'%Y-%m-%d %H:%i:%s')assign_time,
        CONCAT(o.build_person,'/',u3.`name`)build_person,o.build_phone,o.build_company,date_format(o.`end_time`,'%Y-%m-%d %H:%i:%s')end_time,
        CONCAT(o.completed_person,'/',u4.`name`) completed_person,o.completed_phone,date_format(o.`completed_time`,'%Y-%m-%d %H:%i:%s')completed_time,
        CONCAT(o.feedback_person,'/',u5.`name`)feedback_person,o.feedback_note,date_format(o.`feedback_time`,'%Y-%m-%d %H:%i:%s')feedback_time,
        o.meal_id,m.meal_name,t.monitor_type_wifi_name model_name,o.model_num,p.poe_name,o.poe_num,s.save_net_name,o.storage_num,
        o.meal_wifi_id,m2.meal_name meal_wifi_name,t2.monitor_type_wifi_name model_wifi_name,o.model_wifi_num,p2.poe_name poe_wifi_name,
        o.poe_wifi_num,s2.save_net_name save_wifi_name,o.storage_wifi_num
        from sj_order o
        LEFT JOIN sj_user u1 on u1.login_id=o.approval_person
        LEFT JOIN sj_user u2 on u2.login_id=o.assign_person
        LEFT JOIN sj_user u3 on u3.login_id=o.build_person
        LEFT JOIN sj_user u4 on u4.login_id=o.completed_person
        LEFT JOIN sj_user u5 on u5.login_id=o.feedback_person
        LEFT JOIN sys_address a1 ON a1.area_id=o.province_id
        LEFT JOIN sys_address a2 ON a2.area_id=o.city_id
        LEFT JOIN sys_address a3 ON a3.area_id=o.area_id
        LEFT JOIN sj_set_meal m ON m.id=o.meal_id
        LEFT JOIN sj_wifi_monitor_type t on t.id=o.model_id
        LEFT JOIN sj_poe p on p.id=o.poe_id
        LEFT JOIN sj_save_net s on s.id=o.storage_id
        LEFT JOIN sj_set_meal m2 ON m2.id=o.meal_wifi_id
        LEFT JOIN sj_wifi_monitor_type t2 on t2.id=o.model_wifi_id
        LEFT JOIN sj_poe p2 on p2.id=o.poe_wifi_id
        LEFT JOIN sj_save_net s2 on s2.id=o.storage_wifi_id
        where 1=1
        <if test="id != null and id != ''">
            and o.id = #{id}
        </if>
        <if test="queryIds != null and queryIds.size() > 0" >
            and o.id in
            <foreach collection="queryIds" item="item" open="(" separator=", " close=")">
                #{item}
            </foreach>
        </if>
        <if test="orderNo != null and orderNo != ''">
            and o.order_no like CONCAT('%', #{orderNo}, '%')
        </if>
        <if test="type != null and type != ''">
            and o.type = #{type}
        </if>
        <if test="state != null and state != ''">
            and o.state = #{state}
        </if>
        <if test="companyName != null and companyName != ''">
            and o.company_name like CONCAT('%', #{companyName}, '%')
        </if>
        <if test="responsibleIdNumber != null and responsibleIdNumber != ''">
            and responsible_id_number like CONCAT('%', #{responsibleIdNumber}, '%')
        </if>
        <if test="responsibleName != null and responsibleName != ''">
            and responsible_name like CONCAT('%', #{responsible_name}, '%')
        </if>
        <if test="provinceId != null and provinceId != ''">
            and o.province_id = #{provinceId}
        </if>
        <if test="cityId != null and cityId != ''">
            and o.city_id = #{cityId}
        </if>
        <if test="areaId != null and areaId != ''">
            and o.area_id = #{areaId}
        </if>
        <if test="streetId != null and streetId != ''">
            and o.street_id = #{streetId}
        </if>
        <if test="addressDetail != null and addressDetail != ''">
            and o.address_detail = #{addressDetail}
        </if>
        <if test="person != null and person != ''">
            and o.person = #{person}
        </if>
        <if test="phone != null and phone != ''">
            and o.phone = #{phone}
        </if>
        <if test="projectId != null and projectId != ''">
            and o.project_id = #{projectId}
        </if>
        <if test="groupNet != null and groupNet != ''">
            and o.group_not=#{groupNet}
        </if>
        <if test="single != null and single != ''">
            and o.single = #{single}
        </if>
        <if test="stayPerson != null and stayPerson != ''">
            and o.stayPerson = #{stayPerson}
        </if>
        <if test="approvalPerson != null and approvalPerson != ''">
            and o.approval_person = #{approvalPerson}
        </if>
        <if test="approvalNote != null and approvalNote != ''">
            and o.approval_note = #{approvalNote}
        </if>
        <if test="approvalTime != null and approvalTime != ''">
            and o.approval_time = #{approvalTime}
        </if>
        <if test="assignPerson != null and assignPerson != ''">
            and o.assign_person = #{assignPerson}
        </if>
        <if test="assignTime != null and assignTime != ''">
            and o.assign_time = #{assignTime}
        </if>
        <if test="buildPerson != null and buildPerson != ''">
            and o.build_person = #{buildPerson}
        </if>
        <if test="buildPhone != null and buildPhone != ''">
            and o.build_phone = #{buildPhone}
        </if>
        <if test="buildCompany != null and buildCompany != ''">
            and o.build_company = #{buildCompany}
        </if>
        <if test="endTime != null and endTime != ''">
            and o.end_time = #{endTime}
        </if>
        <if test="completedPerson != null and completedPerson != ''">
            and o.completed_person = #{completedPerson}
        </if>
        <if test="completedPhone != null and completedPhone != ''">
            and o.completed_phone = #{completedPhone}
        </if>
        <if test="completedTime != null and completedTime != ''">
            and o.completed_time = #{completedTime}
        </if>
        <if test="queryStartTime != null and queryStartTime != ''">
            and o.create_time &gt;= #{queryStartTime}
        </if>
        <if test="queryEndTime != null and queryEndTime != ''">
            and o.create_time &lt;= #{queryEndTime}
        </if>
        <if test="createTime != null and createTime != ''">
            and o.create_time = #{createTime}
        </if>
        <if test="createUserid != null and createUserid != ''">
            and o.create_userid like CONCAT('%', #{createUserid}, '%')
        </if>
        <if test="createName != null and createName != ''">
            and o.create_name like CONCAT('%', #{createName}, '%')
        </if>
        <if test="assignCompanyId != null and assignCompanyId != ''">
            and o.assign_company_id = #{assignCompanyId}
        </if>
        <if test="assignWorkerId != null and assignWorkerId != ''">
            and o.assign_worker_id = #{assignWorkerId}
        </if>
        <if test="isAssign != null and isAssign != ''">
            ORDER BY o.approval_time DESC
        </if>
        <if test="isAssign == null or isAssign == ''">
            ORDER BY o.create_time DESC
        </if>
    </select>

</mapper>   