<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuaixiu.recycle.dao.RecycleSystemMapper" >
    <!-- Result Map-->
    <resultMap id="BaseResultMap" type="com.kuaixiu.recycle.entity.RecycleSystem" >
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="sort" property="sort"/>
        <result column="is_del" property="isDel"/>
        <result column="sms_type" property="smsType"/>
        <result column="create_time" property="createTime"/>
        <result column="create_userid" property="createUserid"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_userid" property="updateUserid"/>
    </resultMap>
    
    <!-- hs_from_system table all fields -->
    <sql id="Base_Column_List" >
        id,name,sort,is_del,sms_type,date_format(`create_time`,'%Y-%m-%d %H:%i:%s')create_time,create_userid,date_format(`update_time`,'%Y-%m-%d %H:%i:%s')update_time,update_userid
    </sql>

    <!-- 插入记录 -->
    <insert id="add" parameterType="Object" >
        insert into hs_from_system
        (name,sort,is_del,sms_type,create_time,create_userid)
        values
        (#{name},#{sort},#{isDel},#{smsType},now(),#{createUserid})
    </insert>

    <!-- 根据id，修改记录-->
    <update id="update" parameterType="Object" >
        update hs_from_system 
        set 
            name=#{name},
            sort=#{sort},
            is_del=#{isDel},
            sms_type=#{smsType},
            update_time=now(),
            update_userid=#{updateUserid}
        where id=#{id}
    </update>

    <!-- 删除记录 -->
    <delete id="delete" parameterType="Object">
        delete from hs_from_system where id = #{id}
    </delete>
    
    <!-- 根据id查询  -->
    <select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
        select <include refid="Base_Column_List" />
        from hs_from_system where id = #{id}
    </select>

    <select id="queryIdBySmsType"  resultType="String" parameterType="Object">
        select id
        from hs_from_system where sms_type=#{smsType}
    </select>

	<!-- 根据名称查询 -->
    <select id="queryByName"  resultMap="BaseResultMap" parameterType="Object">
        select <include refid="Base_Column_List" />
        from hs_from_system where name = #{name} and is_del = 0
    </select>
	
    <!-- 查询列表无分页 -->
    <select id="queryList" resultMap="BaseResultMap"  parameterType="Object">
        select
        <include refid="Base_Column_List"/>
        from hs_from_system
        where 1=1
        <if test="id != null and id != ''" >
            and id = #{id}
        </if>
        <if test="name != null and name != ''" >
            and name = #{name}
        </if>
        <if test="sort != null and sort != ''" >
            and sort = #{sort}
        </if>
        <if test="isDel != null" >
            and is_del = #{isDel}
        </if>
        <if test="smsType != smsType" >
            and sms_type=#{smsType}
        </if>
    </select>
    
    <!-- 查询列表 带分页 -->
    <select id="queryListForPage" resultMap="BaseResultMap"  parameterType="Object">
        select
        <include refid="Base_Column_List"/>
        from hs_from_system
        where 1=1
        <if test="id != null and id != ''" >
            and id = #{id}
        </if>
        <if test="name != null and name != ''" >
            and name = #{name}
        </if>
        <if test="sort != null and sort != ''" >
            and sort = #{sort}
        </if>
        <if test="smsType != smsType" >
            and sms_type=#{smsType}
        </if>
        <if test="isDel != null" >
            and is_del = #{isDel}
        </if>
    </select>

</mapper>   