<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuaixiu.recycle.dao.RecycleCouponMapper">
    <!-- Result Map-->
    <resultMap id="BaseResultMap" type="com.kuaixiu.recycle.entity.RecycleCoupon">
        <result column="id" property="id"/>
        <result column="batch_id" property="batchId"/>
        <result column="coupon_code" property="couponCode"/>
        <result column="coupon_name" property="couponName"/>
        <result column="pricing_Type" property="pricingType"/>
        <result column="rule_description" property="ruleDescription"/>
        <result column="upper_limit" property="upperLimit"/>
        <result column="add_price_upper" property="addPriceUpper"/>
        <result column="subtraction_price" property="Subtraction_price"/>
        <result column="coupon_price" property="strCouponPrice"/>
        <result column="begin_time" property="beginTime"/>
        <result column="end_time" property="endTime"/>
        <result column="status" property="status"/>
        <result column="is_use" property="isUse"/>
        <result column="use_time" property="useTime"/>
        <result column="is_receive" property="isReceive"/>
        <result column="receive_mobile" property="receiveMobile"/>
        <result column="is_del" property="isDel"/>
        <result column="note" property="note"/>
        <result column="create_time" property="createTime"/>
        <result column="create_userid" property="createUserid"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_userid" property="updateUserid"/>
    </resultMap>

    <!-- kx_coupon table all fields -->
    <sql id="Base_Column_List">
        t.id,t.batch_id,t.coupon_code,t.coupon_name,t.pricing_Type,t.rule_description,t.upper_limit,
        t.add_price_upper,t.subtraction_price,t.coupon_price,
        t.begin_time,t.end_time,t.status,t.is_use,date_format(t.`use_time`,'%Y-%m-%d %H:%i:%s')use_time,
        t.is_del,t.note,date_format(t.`create_time`,'%Y-%m-%d %H:%i:%s')create_time,
        t.create_userid,date_format(t.`update_time`,'%Y-%m-%d %H:%i:%s')update_time,
        t.update_userid,t.is_receive,t.receive_mobile
    </sql>

    <!-- 插入记录 -->
    <insert id="add" parameterType="Object">
        insert into hs_coupon
        (id,batch_id,coupon_code,coupon_name,is_receive,receive_mobile,pricing_Type,rule_description,upper_limit,add_price_upper,subtraction_price,coupon_price,begin_time,end_time,note,use_time,create_time,create_userid,update_time,update_userid)
        values
        (#{id},#{batchId},#{couponCode},#{couponName},#{isReceive},#{receiveMobile},#{pricingType},#{ruleDescription},#{upperLimit},#{addPriceUpper},#{Subtraction_price},#{strCouponPrice},#{beginTime},#{endTime},#{note},#{useTime},now(),#{createUserid},now(),#{updateUserid})
    </insert>

    <!-- 根据id，修改记录-->
    <update id="update" parameterType="Object">
        update hs_coupon
        set
            coupon_code=#{couponCode},
            coupon_name=#{couponName},
            pricing_Type=#{pricingType},
            rule_description=#{ruleDescription},
            upper_limit=#{upperLimit},
            subtraction_price=#{Subtraction_price},
            coupon_price=#{strCouponPrice},
            add_price_upper=#{addPriceUpper},
            begin_time=#{beginTime},
            end_time=#{endTime},
            status=#{status},
            is_use=#{isUse},
            use_time=#{useTime},
            is_receive=#{isReceive},
            receive_mobile=#{receiveMobile},
            is_del=#{isDel},
            note=#{note},
            update_time=now(),
            update_userid=#{updateUserid}
        where id=#{id}
    </update>

    <!-- 根据加价码修改记录-->
    <update id="couponCodeUpdate" parameterType="Object">
        update hs_coupon
        set
            coupon_name=#{couponName},
            pricing_Type=#{pricingType},
            rule_description=#{ruleDescription},
            upper_limit=#{upperLimit},
            subtraction_price=#{Subtraction_price},
            add_price_upper=#{addPriceUpper},
            coupon_price=#{strCouponPrice},
            begin_time=#{beginTime},
            end_time=#{endTime},
            note=#{note},
            update_time=now(),
            update_userid=#{updateUserid}
        where coupon_code=#{couponCode}
    </update>

    <!-- 删除记录 -->
    <delete id="delete" parameterType="Object">
        delete from hs_coupon where id = #{id}
    </delete>

    <!-- 根据id，修改记录-->
    <update id="deleteByBatchId" parameterType="Object">
        update hs_coupon
        set 
            is_del=1,
            update_time=now(),
            update_userid=#{updateUserid}
        where batch_id=#{batchId}
    </update>

    <!-- 根据id，修改记录-->
    <update id="deleteById" parameterType="Object">
        update hs_coupon
        set
        is_del=#{isDel},
        update_time=now(),
        update_userid=#{updateUserid}
        where id = #{id}
    </update>

    <!-- 根据批次号 批量修改失效数据-->
    <update id="updateStatusByBatchId" parameterType="String">
        update hs_coupon
        set
            status=2
        where batch_id=#{batchId}
    </update>

    <update id="updateStatusByCouponCode" parameterType="String">
        update hs_coupon
        set
        status=2
        where coupon_code=#{couponCode}
    </update>

    <!-- 根据批次号 批量修改信息-->
    <update id="updateByBatchId" parameterType="Object">
        update hs_coupon
        set
            coupon_name=#{couponName},
            pricing_Type=#{pricingType},
            rule_description=#{ruleDescription},
            upper_limit=#{upperLimit},
            subtraction_price=#{Subtraction_price},
            add_price_upper=#{addPriceUpper},
            coupon_price=#{strCouponPrice},
            begin_time=#{beginTime},
            end_time=#{endTime},
            note=#{note},
            update_time=now(),
            update_userid=#{updateUserid}
        where batch_id=#{batchId}
        AND is_use=0
    </update>

    <!-- 查询批次  -->
    <select id="queryBybatch" resultType="String" parameterType="Object">
        SELECT batch_id FROM hs_coupon WHERE is_del=0 GROUP BY batch_id
    </select>

    <!-- 根据id查询  -->
    <select id="queryById" resultMap="BaseResultMap" parameterType="Object">
        select
        <include refid="Base_Column_List"/>
        from hs_coupon t where t.id = #{id}
    </select>

    <!-- 根据Code查询  -->
    <select id="queryByCode" resultMap="BaseResultMap" parameterType="Object">
        select
        <include refid="Base_Column_List"/>
        from hs_coupon t where t.coupon_code = #{code}
    </select>

    <!-- 查询个数  -->
    <select id="queryCount" resultType="Integer" parameterType="Object">
        select count(1)
        from hs_coupon t
        where 1=1
        <if test="id != null and id != ''">
            and t.id = #{id}
        </if>
        <if test="batchId != null and batchId != ''">
            and t.batch_id = #{batchId}
        </if>
        <if test="couponCode != null and couponCode != ''">
            and t.coupon_code = #{couponCode}
        </if>
        <if test="couponName != null and couponName != ''">
            and t.coupon_name = #{couponName}
        </if>
        <if test="couponPrice != null and couponPrice != ''">
            and t.coupon_price = #{strCouponPrice}
        </if>
        <if test="beginTime != null and beginTime != ''">
            and t.begin_time = #{beginTime}
        </if>
        <if test="endTime != null and endTime != ''">
            and t.end_time = #{endTime}
        </if>
        <if test="status != null">
            and t.status = #{status}
        </if>
        <if test="isUse != null">
            and t.is_use = #{isUse}
        </if>
        <if test="isReceive != null">
            and t.is_receive = #{isReceive}
        </if>
        <if test="isDel != null">
            and t.is_del=#{isDel}
        </if>
    </select>

    <!-- 查询列表无分页 -->
    <select id="queryList" resultMap="BaseResultMap" parameterType="Object">
        select
        <include refid="Base_Column_List"/>
        from hs_coupon t
        where 1=1
        <if test="id != null and id != ''">
            and t.id = #{id}
        </if>
        <if test="batchId != null and batchId != ''">
            and t.batch_id = #{batchId}
        </if>
        <if test="couponCode != null and couponCode != ''">
            and t.coupon_code = #{couponCode}
        </if>
        <if test="couponName != null and couponName != ''">
            and t.coupon_name = #{couponName}
        </if>
        <if test="couponPrice != null and couponPrice != ''">
            and t.coupon_price = #{strCouponPrice}
        </if>
        <if test="beginTime != null and beginTime != ''">
            and t.begin_time = #{beginTime}
        </if>
        <if test="endTime != null and endTime != ''">
            and t.end_time = #{endTime}
        </if>
        <if test="status != null">
            and t.status = #{status}
        </if>
        <if test="isUse != null">
            and t.is_use = #{isUse}
        </if>
        <if test="isReceive != null">
            and t.is_receive = #{isReceive}
        </if>
        <if test="receiveMobile != null and receiveMobile != ''">
            and t.receive_mobile=#{receiveMobile}
        </if>
        <if test="isDel != null">
            and t.is_del=#{isDel}
        </if>
    </select>

    <!-- 查询列表 带分页 -->
    <select id="queryListForPage" resultMap="BaseResultMap" parameterType="Object">
        select
        <include refid="Base_Column_List"/>
        from hs_coupon t
        where 1=1
        <if test="id != null and id != ''">
            and t.id = #{id}
        </if>
        <if test="batchId != null and batchId != ''">
            and t.batch_id = #{batchId}
        </if>
        <if test="couponCode != null and couponCode != ''">
            and t.coupon_code like CONCAT('%', #{couponCode}, '%')
        </if>
        <if test="couponName != null and couponName != ''">
            and t.coupon_name = #{couponName}
        </if>
        <if test="couponPrice != null and couponPrice != ''">
            and t.coupon_price = #{strCouponPrice}
        </if>
        <if test="beginTime != null and beginTime != ''">
            and t.begin_time = #{beginTime}
        </if>
        <if test="endTime != null and endTime != ''">
            and t.end_time = #{endTime}
        </if>
        <if test="status != null">
            and t.status = #{status}
        </if>
        <if test="isUse != null">
            and t.is_use = #{isUse}
        </if>
        <if test="isReceive != null">
            and t.is_receive = #{isReceive}
        </if>
        <if test="isDel != null">
            and t.is_del=#{isDel}
        </if>
        order by t.create_time desc,t.coupon_code
    </select>

    <select id="queryCouponListForPage" resultMap="BaseResultMap" parameterType="Object">
        select
        <include refid="Base_Column_List"/>
        from hs_coupon t
        where 1=1
        <if test="endTime != null and endTime != ''">
            and t.end_time &lt;= now()
        </if>
        <if test="isUse != null">
            and t.is_use = #{isUse}
            and t.end_time &gt;= now()
        </if>
        and receive_mobile=#{receiveMobile}
        and t.is_del=0
        order by t.create_time desc
    </select>

    <!-- 根据加价券编码修改记录-->
    <update id="updateForUse" parameterType="Object">
    	update hs_coupon
        set 
            is_use=1,
            use_time=now(),
            update_time=now(),
            update_userid=#{updateUserid}
        where coupon_code=#{couponCode} and is_use = 0
    </update>

    <!-- 根据加价券编id修改记录,改为未使用-->
    <update id="updateForNoUse" parameterType="String">
        update hs_coupon
        set
            is_use=0,
            use_time=null,
            update_time=now()
        where id=#{id}
    </update>

    <!-- 根据编码修改记录-->
    <update id="updateForReceive" parameterType="Object">
    	update hs_coupon
        set 
            is_receive=1,
            receive_mobile=#{receiveMobile},
            update_time=now(),
            update_userid=#{updateUserid}
        where coupon_code=#{couponCode} and is_receive = 0
    </update>

    <!-- 查询列表无分页 -->
    <select id="queryUnReceive" resultMap="BaseResultMap" parameterType="Object">
        select
        <include refid="Base_Column_List"/>
        from hs_coupon t
        where 1=1
        <if test="id != null and id != ''">
            and t.id = #{id}
        </if>
        <if test="batchId != null and batchId != ''">
            and t.batch_id = #{batchId}
        </if>
        <if test="couponCode != null and couponCode != ''">
            and t.coupon_code = #{couponCode}
        </if>
        <if test="couponName != null and couponName != ''">
            and t.coupon_name = #{couponName}
        </if>
        <if test="couponPrice != null and couponPrice != ''">
            and t.coupon_price = #{strCouponPrice}
        </if>
        <if test="beginTime != null and beginTime != ''">
            and t.begin_time &lt;= #{beginTime}
        </if>
        <if test="endTime != null and endTime != ''">
            and t.end_time &gt;= #{endTime}
        </if>
        <if test="status != null">
            and t.status = #{status}
        </if>
        <if test="isUse != null">
            and t.is_use = #{isUse}
        </if>
        <if test="isReceive != null">
            and t.is_receive = #{isReceive}
        </if>
        <if test="receiveMobile != null and receiveMobile != ''">
            and t.receive_mobile=#{receiveMobile}
        </if>
        <if test="isDel != null">
            and t.is_del=#{isDel}
        </if>
        order BY end_time
    </select>
</mapper>   