<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuaixiu.sjUser.dao.ConstructionCompanyMapper" >
    <!-- Result Map-->
    <resultMap id="BaseResultMap" type="com.kuaixiu.sjUser.entity.ConstructionCompany" >
        <result column="id" property="id"/>
        <result column="login_id" property="loginId"/>
        <result column="province" property="province"/>
        <result column="city" property="city"/>
        <result column="area" property="area"/>
        <result column="address_detail" property="addressDetail"/>
        <result column="person" property="person"/>
        <result column="phone" property="phone"/>
        <result column="project" property="project"/>
        <result column="person_num" property="personNum"/>
        <result column="end_order_num" property="endOrderNum"/>
    </resultMap>
    
    <!-- sj_construction_company table all fields -->
    <sql id="Base_Column_List" >
        id,login_id,province,city,area,address_detail,person,phone,project,person_num,end_order_num
    </sql>

    <!-- 插入记录 -->
    <insert id="add" parameterType="Object" >
        insert into sj_construction_company
        (id,login_id,province,city,area,address_detail,person,phone,project,person_num,end_order_num)
        values
        (#{id},#{loginId},#{province},#{city},#{area},#{addressDetail},#{person},#{phone},#{project},#{personNum},#{endOrderNum})
    </insert>

    <!-- 根据id，修改记录-->
    <update id="update" parameterType="Object" >
        update sj_construction_company 
        set 
            id=#{id},
            login_id=#{loginId},
            province=#{province},
            city=#{city},
            area=#{area},
            address_detail=#{addressDetail},
            person=#{person},
            phone=#{phone},
            project=#{project},
            person_num=#{personNum},
            end_order_num=#{endOrderNum}
        where id=#{id}
    </update>

    <update id="updatePersonAddNum" parameterType="Object" >
        update sj_construction_company
        set
        person_num=person_num+1
        where login_id=#{loginId}
    </update>

    <update id="updatePersonCutNum" parameterType="Object" >
        update sj_construction_company
        set
        person_num=person_num-1
        where login_id=#{loginId}
    </update>

    <!-- 删除记录 -->
    <delete id="delete" parameterType="Object">
        delete from sj_construction_company where id = #{id}
    </delete>
    
    <!-- 根据id查询  -->
    <select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
        select <include refid="Base_Column_List" />
        from sj_construction_company where id = #{id}
    </select>

    <select id="queryByLoginId"  resultMap="BaseResultMap" parameterType="Object">
        select <include refid="Base_Column_List" />
        from sj_construction_company where login_id=#{loginId}
    </select>

    <!-- 查询列表无分页 -->
    <select id="queryList" resultMap="BaseResultMap"  parameterType="Object">
        select
        <include refid="Base_Column_List"/>
        from sj_construction_company
        where 1=1
        <if test="id != null and id != ''" >
            and id = #{id}
        </if>
        <if test="loginId != null and loginId != ''" >
            and login_id = #{loginId}
        </if>
        <if test="province != null and province != ''" >
            and province = #{province}
        </if>
        <if test="city != null and city != ''" >
            and city = #{city}
        </if>
        <if test="area != null and area != ''" >
            and area = #{area}
        </if>
        <if test="addressDetail != null and addressDetail != ''" >
            and address_detail = #{addressDetail}
        </if>
        <if test="person != null and person != ''" >
            and person = #{person}
        </if>
        <if test="phone != null and phone != ''" >
            and phone = #{phone}
        </if>
        <if test="project != null and project != ''" >
            and project = #{project}
        </if>
        <if test="personNum != null and personNum != ''" >
            and person_num = #{personNum}
        </if>
        <if test="endOrderNum != null and endOrderNum != ''" >
            and end_order_num = #{endOrderNum}
        </if>
    </select>
    
    <!-- 查询列表 带分页 -->
    <select id="queryListForPage" resultMap="BaseResultMap"  parameterType="Object">
        select
        <include refid="Base_Column_List"/>
        from sj_construction_company
        where 1=1
        <if test="id != null and id != ''" >
            and id = #{id}
        </if>
        <if test="loginId != null and loginId != ''" >
            and login_id = #{loginId}
        </if>
        <if test="province != null and province != ''" >
            and province = #{province}
        </if>
        <if test="city != null and city != ''" >
            and city = #{city}
        </if>
        <if test="area != null and area != ''" >
            and area = #{area}
        </if>
        <if test="addressDetail != null and addressDetail != ''" >
            and address_detail = #{addressDetail}
        </if>
        <if test="person != null and person != ''" >
            and person = #{person}
        </if>
        <if test="phone != null and phone != ''" >
            and phone = #{phone}
        </if>
        <if test="queryStatusArray != null and queryStatusArray.size() > 0">
            <foreach collection="queryStatusArray" item="item">
                and project like CONCAT('%', #{item}, '%')
            </foreach>
        </if>
        <if test="project != null and project != ''" >
            and project = like CONCAT('%', #{project}, '%')
        </if>
        <if test="personNum != null and personNum != ''" >
            and person_num = #{personNum}
        </if>
        <if test="endOrderNum != null and endOrderNum != ''" >
            and end_order_num = #{endOrderNum}
        </if>
        ORDER BY end_order_num DESC
    </select>


    <!-- 查询列表 带分页 -->
    <select id="queryCompanyListForPage" resultType="Map"  parameterType="Object">
        select u.login_id loginId,u.`name` companyName,c.province,c.city,c.area,
        c.address_detail addressDetail,c.person,c.phone,
        c.project,date_format(u.`create_time`,'%Y-%m-%d %H:%i:%s')createTime,
        c.person_num personNum,c.end_order_num endOrderNum,u.is_cancel isCancel
        from sj_construction_company c
        LEFT JOIN sj_user u ON c.login_id=u.id
        where 1=1
        and u.is_del=0
        <if test="companyName != null and companyName != ''" >
            and u.`name` like CONCAT('%', #{companyName}, '%')
        </if>
        <if test="queryStartTime != null and queryStartTime != ''">
            and u.create_time &gt;= #{queryStartTime}
        </if>
        <if test="queryEndTime != null and queryEndTime != ''">
            and u.create_time &lt;= #{queryEndTime}
        </if>
        <if test="province != null and province != ''" >
            and c.province = #{province}
        </if>
        <if test="city != null and city != ''" >
            and c.city = #{city}
        </if>
        <if test="area != null and area != ''" >
            and c.area = #{area}
        </if>
        <if test="person != null and person != ''" >
            and c.person like CONCAT('%', #{person}, '%')
        </if>
        <if test="phone != null and phone != ''" >
            and c.phone like CONCAT('%', #{phone}, '%')
        </if>
        ORDER BY end_order_num DESC
    </select>

</mapper>   