<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuaixiu.nbTelecomSJ.dao.NBareaMapper" >
    <!-- Result Map-->
    <resultMap id="BaseResultMap" type="com.kuaixiu.nbTelecomSJ.entity.NBarea" >
        <result column="office_id" property="officeId"/>
        <result column="county_id" property="countyId"/>
        <result column="branch_office" property="branchOffice"/>
        <result column="area_id" property="areaId"/>
        <result column="area_person" property="areaPerson"/>
    </resultMap>
    
    <!-- nb_area table all fields -->
    <sql id="Base_Column_List" >
        office_id,county_id,branch_office,area_id,area_person
    </sql>

    <!-- 插入记录 -->
    <insert id="add" parameterType="Object" >
        insert into nb_area
        (office_id,county_id,branch_office,area_id,area_person)
        values
        (#{officeId},#{countyId},#{branchOffice},#{areaId},#{areaPerson})
    </insert>

    <!-- 根据id，修改记录-->
    <update id="update" parameterType="Object" >
        update nb_area 
        set 
            office_id=#{officeId},
            county_id=#{countyId},
            branch_office=#{branchOffice},
            area_id=#{areaId},
            area_person=#{areaPerson}
        where id=#{id}
    </update>

    <!-- 删除记录 -->
    <delete id="delete" parameterType="Object">
        delete from nb_area where id = #{id}
    </delete>
    
    <!-- 根据id查询  -->
    <select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
        select <include refid="Base_Column_List" />
        from nb_area where id = #{id}
    </select>

    <!-- 查询列表无分页 -->
    <select id="queryList" resultMap="BaseResultMap"  parameterType="Object">
        select
        <include refid="Base_Column_List"/>
        from nb_area
        where 1=1
        <if test="officeId != null and officeId != ''" >
            and office_id = #{officeId}
        </if>
        <if test="countyId != null and countyId != ''" >
            and county_id = #{countyId}
        </if>
        <if test="branchOffice != null and branchOffice != ''" >
            and branch_office = #{branchOffice}
        </if>
        <if test="areaId != null and areaId != ''" >
            and area_id = #{areaId}
        </if>
        <if test="areaPerson != null and areaPerson != ''" >
            and area_person = #{areaPerson}
        </if>
    </select>
    
    <!-- 查询列表 带分页 -->
    <select id="queryListForPage" resultMap="BaseResultMap"  parameterType="Object">
        select
        <include refid="Base_Column_List"/>
        from nb_area
        where 1=1
        <if test="officeId != null and officeId != ''" >
            and office_id = #{officeId}
        </if>
        <if test="countyId != null and countyId != ''" >
            and county_id = #{countyId}
        </if>
        <if test="branchOffice != null and branchOffice != ''" >
            and branch_office = #{branchOffice}
        </if>
        <if test="areaId != null and areaId != ''" >
            and area_id = #{areaId}
        </if>
        <if test="areaPerson != null and areaPerson != ''" >
            and area_person = #{areaPerson}
        </if>
    </select>

</mapper>   