<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuaixiu.nbTelecomSJ.dao.NBAreaMapper" >
    <!-- Result Map-->
    <resultMap id="BaseResultMap" type="com.kuaixiu.nbTelecomSJ.entity.NBArea" >
        <result column="office_id" property="officeId"/>
        <result column="county_id" property="countyId"/>
        <result column="branch_office" property="branchOffice"/>
        <result column="area_id" property="areaId"/>
        <result column="area_name" property="areaName"/>
        <result column="area_type" property="areaType"/>
        <result column="area_person" property="areaPerson"/>
        <result column="person_tel" property="personTel"/>
    </resultMap>
    
    <!-- nb_area table all fields -->
    <sql id="Base_Column_List" >
        office_id,county_id,branch_office,area_id,area_name,area_type,area_person,person_tel
    </sql>

    <!-- 插入记录 -->
    <insert id="add" parameterType="Object" >
        insert into nb_area
        (office_id,county_id,branch_office,area_id,area_name,area_type,area_person,person_tel)
        values
        (#{officeId},#{countyId},#{branchOffice},#{areaId},#{areaName},#{areaType},#{areaPerson},#{personTel})
    </insert>

    <!-- 根据id，修改记录-->
    <update id="update" parameterType="Object" >
        update nb_area 
        set 
            office_id=#{officeId},
            county_id=#{countyId},
            branch_office=#{branchOffice},
            area_id=#{areaId},
            area_name=#{areaName},
            area_type=#{areaType},
            area_person=#{areaPerson},
            person_tel=#{personTel}
        where id=#{id}
    </update>

    <!-- 删除记录 -->
    <delete id="delete" parameterType="Object">
        delete from nb_area where id = #{id}
    </delete>
    
    <!-- 根据id查询  -->
    <select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
        select <include refid="Base_Column_List" />
        from nb_area where office_id=#{officeId}
    </select>

    <!-- 根据id查询  -->
    <select id="queryByAreaId"  resultMap="BaseResultMap" parameterType="Object">
        select <include refid="Base_Column_List" />
        from nb_area where area_id=#{areaId}
    </select>

    <!-- 根据县份id查询  -->
    <select id="queryByCountyId"  resultMap="BaseResultMap" parameterType="Object">
        select office_id,branch_office
        from nb_area where county_id = #{countyId}
        GROUP BY branch_office
    </select>

    <!-- 根据支局名字查询  -->
    <select id="queryByBranchOffice"  resultMap="BaseResultMap" parameterType="Object">
        select area_id,area_name
        from nb_area where branch_office = #{branchOffice} and county_id = #{countyId}
    </select>

    <!-- 查询列表无分页 -->
    <select id="queryList" resultMap="BaseResultMap"  parameterType="Object">
        select
        <include refid="Base_Column_List"/>
        from nb_area
        where 1=1
        <if test="officeId != null and officeId != ''" >
            and office_id = #{officeId}
        </if>
        <if test="countyId != null and countyId != ''" >
            and county_id = #{countyId}
        </if>
        <if test="branchOffice != null and branchOffice != ''" >
            and branch_office = #{branchOffice}
        </if>
        <if test="areaId != null and areaId != ''" >
            and area_id = #{areaId}
        </if>
        <if test="areaName != null and areaName != ''" >
            and area_name = #{areaName}
        </if>
        <if test="areaType != null and areaType != ''" >
            and area_type = #{areaType}
        </if>
        <if test="areaPerson != null and areaPerson != ''" >
            and area_person = #{areaPerson}
        </if>
        <if test="personTel != null and personTel != ''" >
            and person_tel = #{personTel}
        </if>
    </select>
    
    <!-- 查询列表 带分页 -->
    <select id="queryListForPage" resultMap="BaseResultMap"  parameterType="Object">
        select
        <include refid="Base_Column_List"/>
        from nb_area
        where 1=1
        <if test="officeId != null and officeId != ''" >
            and office_id = #{officeId}
        </if>
        <if test="countyId != null and countyId != ''" >
            and county_id = #{countyId}
        </if>
        <if test="branchOffice != null and branchOffice != ''" >
            and branch_office = #{branchOffice}
        </if>
        <if test="areaId != null and areaId != ''" >
            and area_id = #{areaId}
        </if>
        <if test="areaName != null and areaName != ''" >
            and area_name = #{areaName}
        </if>
        <if test="areaType != null and areaType != ''" >
            and area_type = #{areaType}
        </if>
        <if test="areaPerson != null and areaPerson != ''" >
            and area_person = #{areaPerson}
        </if>
        <if test="personTel != null and personTel != ''" >
            and person_tel = #{personTel}
        </if>
    </select>

</mapper>   