<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuaixiu.nbTelecomSJ.dao.NBManagerMapper" >
    <!-- Result Map-->
    <resultMap id="BaseResultMap" type="com.kuaixiu.nbTelecomSJ.entity.NBManager" >
        <result column="manager_id" property="managerId"/>
        <result column="manager_name" property="managerName"/>
        <result column="manager_tel" property="managerTel"/>
        <result column="department" property="department"/>
    </resultMap>
    
    <!-- nb_manager table all fields -->
    <sql id="Base_Column_List" >
        manager_id,manager_name,manager_tel,department
    </sql>

    <!-- 插入记录 -->
    <insert id="add" parameterType="Object" >
        insert into nb_manager
        (manager_id,manager_name,manager_tel)
        values
        (#{managerId},#{managerName},#{managerTel})
    </insert>

    <!-- 根据id，修改记录-->
    <update id="update" parameterType="Object" >
        update nb_manager 
        set 
            manager_id=#{managerId},
            manager_name=#{managerName},
            manager_tel=#{managerTel}
        where id=#{id}
    </update>

    <!-- 删除记录 -->
    <delete id="delete" parameterType="Object">
        delete from nb_manager where id = #{id}
    </delete>
    
    <!-- 根据id查询  -->
    <select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
        select <include refid="Base_Column_List" />
        from nb_manager where manager_id=#{managerId}
    </select>

    <!-- 查询列表无分页 -->
    <select id="queryList" resultMap="BaseResultMap"  parameterType="Object">
        select
        <include refid="Base_Column_List"/>
        from nb_manager
        where 1=1
        <if test="managerId != null and managerId != ''" >
            and manager_id = #{managerId}
        </if>
        <if test="managerName != null and managerName != ''" >
            and manager_name = #{managerName}
        </if>
        <if test="managerTel != null and managerTel != ''" >
            and manager_tel = #{managerTel}
        </if>
    </select>
    
    <!-- 查询列表 带分页 -->
    <select id="queryListForPage" resultMap="BaseResultMap"  parameterType="Object">
        select
        <include refid="Base_Column_List"/>
        from nb_manager
        where 1=1
        <if test="managerId != null and managerId != ''" >
            and manager_id = #{managerId}
        </if>
        <if test="managerName != null and managerName != ''" >
            and manager_name = #{managerName}
        </if>
        <if test="managerTel != null and managerTel != ''" >
            and manager_tel = #{managerTel}
        </if>
    </select>

</mapper>   