<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuaixiu.card.dao.TelecomCardMapper">
  <resultMap id="BaseResultMap" type="com.kuaixiu.card.entity.TelecomCard">
    <id column="iccid" jdbcType="VARCHAR" property="iccid" />
    <result column="batch_id" jdbcType="VARCHAR" property="batchId" />
    <result column="batch" jdbcType="VARCHAR" property="batch" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="card_name" jdbcType="INTEGER" property="cardName" />
    <result column="in_time" jdbcType="TIMESTAMP" property="inTime" />
    <result column="distribution_time" jdbcType="TIMESTAMP" property="distributionTime" />
    <result column="lose_efficacy" jdbcType="TIMESTAMP" property="loseEfficacy" />
    <result column="station_id" jdbcType="VARCHAR" property="stationId" />
    <result column="station_express_id" jdbcType="VARCHAR" property="stationExpressId" />
    <result column="is_use" jdbcType="INTEGER" property="isUse" />
    <result column="success_order_id" jdbcType="VARCHAR" property="successOrderId" />
    <result column="express_name" jdbcType="VARCHAR" property="expressName" />
    <result column="express_number" jdbcType="VARCHAR" property="expressNumber" />
    <result column="send_station_id" jdbcType="VARCHAR" property="sendStationId" />
    <result column="send_time" jdbcType="DATE" property="sendTime" />
    <result column="send_city" jdbcType="VARCHAR" property="sendCity" />
    <result column="is_distribution" jdbcType="INTEGER" property="isDistribution" />
    <result column="station_express_number" jdbcType="VARCHAR" property="stationExpressNumber" />
    <result column="is_push" jdbcType="INTEGER" property="isPush" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <sql id="Base_Column_List">
    iccid, batch_id, batch, province, type, card_name, in_time, distribution_time, lose_efficacy, 
    station_id, station_express_id, is_use, success_order_id, express_name, express_number, 
    send_station_id, send_time, send_city,is_distribution,station_express_number,is_push,update_time
  </sql>

  <sql id="Base_List">
    c.iccid, c.batch_id, c.batch, c.province, c.type, c.card_name, c.in_time, c.distribution_time, c.lose_efficacy,
    c.station_id, c.station_express_id, c.is_use, c.success_order_id, c.express_name, c.express_number,
    c.send_station_id, c.send_time, c.send_city,c.is_distribution,c.station_express_number,c.is_push,c.update_time
  </sql>



  <insert id="add" parameterType="Object">
    insert into hk_telecom_card (iccid,batch_id,batch,province,type,card_name,in_time,lose_efficacy)
    values (#{iccid,jdbcType=VARCHAR}, #{batchId,jdbcType=VARCHAR}, #{batch,jdbcType=VARCHAR}, 
      #{province,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, #{cardName,jdbcType=INTEGER}, 
      now(),#{loseEfficacy,jdbcType=TIMESTAMP})
  </insert>


  <!-- 根据id查询 -->
  <select id="queryById" resultMap="BaseResultMap" parameterType="Object">
    select
    <include refid="Base_Column_List"/>
    from hk_telecom_card where iccid=#{iccid}
  </select>


  <!--查询当天更新未成功推送的号卡  0点开始-->
  <select id="queryByTime" resultMap="BaseResultMap" parameterType="Object">
    select
    <include refid="Base_Column_List" />
    from hk_telecom_card
    where  is_use=1 and is_push!=2 and update_time &gt;=#{queryStartTime}
  </select>


  <!--查询未成功推送的号卡  -->
  <select id="queryPushFail" resultMap="BaseResultMap" parameterType="Object">
    select
    <include refid="Base_Column_List" />
    from hk_telecom_card
    where  is_use=1 and is_push!=2
  </select>


  <!-- 修改号卡 -->
  <update id="update" parameterType="Object">
    update hk_telecom_card
    set
    success_order_id = #{successOrderId,jdbcType=VARCHAR},
    express_name = #{expressName,jdbcType=VARCHAR},
    express_number = #{expressNumber,jdbcType=VARCHAR},
    send_station_id = #{sendStationId,jdbcType=VARCHAR},
    send_city = #{sendCity,jdbcType=VARCHAR},
    send_time = #{sendTime,jdbcType=TIMESTAMP},
    is_use = #{isUse,jdbcType=INTEGER},
    is_push=#{isPush,jdbcType=INTEGER},
    update_time=#{updateTime,jdbcType=TIMESTAMP}
    where iccid = #{iccid,jdbcType=VARCHAR}
  </update>



  <!-- 批量添加号卡 -->
  <insert id="addBatch" parameterType="Object" >
    insert into hk_telecom_card
    (iccid,batch_id,batch,province,type,card_name,in_time,lose_efficacy)
    values
    <foreach collection="list" item="item"  open="" close="" separator=",">
      (#{item.iccid},#{item.batchId},#{item.batch},#{item.province},#{item.type},#{item.cardName},now(),#{item.loseEfficacy})
    </foreach>
  </insert>


  <!-- 查询列表无分页 -->
  <select id="queryList" resultMap="BaseResultMap" parameterType="Object">
    select
    <include refid="Base_Column_List" />
    from hk_telecom_card
    where 1=1
    <if test="iccid != null and iccid != ''">
      and iccid = #{iccid}
    </if>
    <if test="batch != null and batch != ''">
      and batch = #{batch}
    </if>
    <if test="batchId != null and batchId != ''">
      and batch_id = #{batchId}
    </if>
    <if test="province != null and province != ''">
      and province = #{province}
    </if>
    <if test="isUse != null">
      and is_use = #{isUse}
    </if>
    <if test="type != null ">
      and type = #{type}
    </if>
    <if test="isDistribution != null">
      and is_distribution = #{isDistribution}
    </if>
    <if test="cardName != null">
      and card_name = #{cardName}
    </if>
    <if test="queryStartTime != null and queryStartTime != ''" >
      and in_time &gt;= #{queryStartTime}
    </if>
    <if test="queryEndTime != null and queryEndTime != ''" >
      and in_time &lt;= #{queryEndTime}
    </if>
    <if test="queryStartDistributionTime != null and queryStartDistributionTime != ''" >
      and distribution_time &gt;= #{queryStartDistributionTime}
    </if>
    <if test="queryEndDistributionTime != null and queryEndDistributionTime != ''" >
      and distribution_time &lt;= #{queryEndDistributionTime}
    </if>
    <if test="isPush != null">
      and is_push = #{isPush}
    </if>
    <if test="stationId != null and stationId != ''">
      and station_id = #{stationId}
    </if>
    order by in_time desc
  </select>


  <!-- 查询列表 带分页 -->
  <select id="queryListForPage" resultMap="BaseResultMap" parameterType="Object">
    select
    <include refid="Base_Column_List" />
    from hk_telecom_card
    where 1=1
    <if test="iccid != null and iccid != ''">
      and iccid = #{iccid}
    </if>
    <if test="batch != null and batch != ''">
      and batch = #{batch}
    </if>
    <if test="batchId != null and batchId != ''">
      and batch_id = #{batchId}
    </if>
    <if test="province != null and province != ''">
      and province = #{province}
    </if>
    <if test="isUse != null">
      and is_use = #{isUse}
    </if>
    <if test="type != null ">
      and type = #{type}
    </if>
    <if test="isDistribution != null">
      and is_distribution = #{isDistribution}
    </if>
    <if test="cardName != null">
      and card_name = #{cardName}
    </if>
    <if test="queryStartTime != null and queryStartTime != ''" >
      and in_time &gt;= #{queryStartTime}
    </if>
    <if test="queryEndTime != null and queryEndTime != ''" >
      and in_time &lt;= #{queryEndTime}
    </if>
    <if test="queryStartDistributionTime != null and queryStartDistributionTime != ''" >
      and distribution_time &gt;= #{queryStartDistributionTime}
    </if>
    <if test="queryEndDistributionTime != null and queryEndDistributionTime != ''" >
      and distribution_time &lt;= #{queryEndDistributionTime}
    </if>
    <if test="queryZhuangStartTime != null and queryZhuangStartTime != ''" >
      and update_time &gt;= #{queryZhuangStartTime}
    </if>
    <if test="queryZhuangEndTime != null and queryZhuangEndTime != ''" >
      and update_time &lt;= #{queryZhuangEndTime}
    </if>
    <if test="isPush != null">
      and is_push = #{isPush}
    </if>
    <if test="stationId != null and stationId != ''">
      and station_id = #{stationId}
    </if>
    order by in_time desc
  </select>

  <!-- 查询列表 带分页 -->
  <select id="queryListTwo" resultType="Map" parameterType="Object">
    select
    c.iccid, c.batch_id, c.batch, c.province, c.type, c.card_name,
    date_format(c.`in_time`,'%Y-%m-%d %H:%i:%s')in_time,
    date_format(c.`distribution_time`,'%Y-%m-%d %H:%i:%s')distribution_time,
    date_format(c.`lose_efficacy`,'%Y-%m-%d')lose_efficacy,
    c.station_id, c.station_express_id, c.is_use, c.success_order_id, c.express_name, c.express_number,
    c.send_station_id, date_format(c.`send_time`,'%Y-%m-%d %H:%i:%s')send_time, c.send_city,c.is_distribution,
    c.station_express_number,c.is_push,c.update_time,
    t.id, t.station_name, t.name, t.tel, t.is_open, t.distribution_sum, t.repertory, t.address,t.is_del
    from hk_telecom_card c
    LEFT JOIN hk_station t ON c.station_id=t.id
    where 1=1
    <if test="iccid != null and iccid != ''">
      and c.iccid = #{iccid}
    </if>
    <if test="batch != null and batch != ''">
      and c.batch = #{batch}
    </if>
    <if test="batchId != null and batchId != ''">
      and c.batch_id = #{batchId}
    </if>
    <if test="province != null and province != ''">
      and c.province = #{province}
    </if>
    <if test="isUse != null">
      and c.is_use = #{isUse}
    </if>
    <if test="type != null ">
      and c.type = #{type}
    </if>
    <if test="isDistribution != null">
      and c.is_distribution = #{isDistribution}
    </if>
    <if test="cardName != null">
      and c.card_name = #{cardName}
    </if>
    <if test="queryStartTime != null and queryStartTime != ''" >
      and c.in_time &gt;= #{queryStartTime}
    </if>
    <if test="queryEndTime != null and queryEndTime != ''" >
      and c.in_time &lt;= #{queryEndTime}
    </if>
    <if test="queryStartDistributionTime != null and queryStartDistributionTime != ''" >
      and c.distribution_time &gt;= #{queryStartDistributionTime}
    </if>
    <if test="queryEndDistributionTime != null and queryEndDistributionTime != ''" >
      and c.distribution_time &lt;= #{queryEndDistributionTime}
    </if>
    <if test="queryZhuangStartTime != null and queryZhuangStartTime != ''" >
      and c.update_time &gt;= #{queryZhuangStartTime}
    </if>
    <if test="queryZhuangEndTime != null and queryZhuangEndTime != ''" >
      and c.update_time &lt;= #{queryZhuangEndTime}
    </if>
    <if test="isPush != null">
      and c.is_push = #{isPush}
    </if>
    <if test="stationId != null and stationId != ''">
      and c.station_id = #{stationId}
    </if>
    order by in_time desc
  </select>

  <!-- 联合查询列表 带分页 -->
  <select id="queryTelecomList" resultType="Map" parameterType="Object">
    select
    c.iccid, c.batch_id, c.batch, c.province, c.type, c.card_name,
    date_format(c.`in_time`,'%Y-%m-%d %H:%i:%s')in_time,
    date_format(c.`distribution_time`,'%Y-%m-%d %H:%i:%s')distribution_time,
    date_format(c.`lose_efficacy`,'%Y-%m-%d')lose_efficacy,
    c.station_id, c.station_express_id, c.is_use, c.success_order_id, c.express_name, c.express_number,
    c.send_station_id, date_format(c.`send_time`,'%Y-%m-%d %H:%i:%s')send_time, c.send_city,
    c.is_distribution,c.station_express_number,c.is_push,c.update_time,
    t.id, t.station_name, t.name, t.tel, t.is_open, t.distribution_sum, t.repertory, t.address,t.is_del
    from hk_telecom_card c,hk_super_to_channel s,hk_station t
    where s.iccid=c.iccid and c.station_id=t.id
    <if test="batch != null and batch != ''">
      and c.batch = #{batch}
    </if>
    <if test="batchId != null and batchId != ''">
      and c.batch_id = #{batchId}
    </if>
    <if test="province != null and province != ''">
      and c.province = #{province}
    </if>
    <if test="isUse != null">
      and c.is_use = #{isUse}
    </if>
    <if test="type != null ">
      and c.type = #{type}
    </if>
    <if test="isDistribution != null">
      and c.is_distribution = #{isDistribution}
    </if>
    <if test="cardName != null">
      and c.card_name = #{cardName}
    </if>
    <if test="queryStartTime != null and queryStartTime != ''" >
      and c.in_time &gt;= #{queryStartTime}
    </if>
    <if test="queryEndTime != null and queryEndTime != ''" >
      and c.in_time &lt;= #{queryEndTime}
    </if>
    <if test="queryStartDistributionTime != null and queryStartDistributionTime != ''" >
      and c.distribution_time &gt;= #{queryStartDistributionTime}
    </if>
    <if test="queryEndDistributionTime != null and queryEndDistributionTime != ''" >
      and c.distribution_time &lt;= #{queryEndDistributionTime}
    </if>
    <if test="queryZhuangStartTime != null and queryZhuangStartTime != ''" >
      and c.update_time &gt;= #{queryZhuangStartTime}
    </if>
    <if test="queryZhuangEndTime != null and queryZhuangEndTime != ''" >
      and c.update_time &lt;= #{queryZhuangEndTime}
    </if>
    <if test="isPush != null">
      and c.is_push = #{isPush}
    </if>
    <if test="queryTelecomStartTime != null and queryTelecomStartTime != ''" >
      and c.update_time &gt;= #{queryTelecomStartTime}
    </if>
    <if test="queryTelecomEndTime != null and queryTelecomEndTime != ''" >
      and c.update_time &lt;= #{queryTelecomEndTime}
    </if>
    order by c.update_time desc
  </select>

  <!-- 联合查询列表 带分页 -->
  <select id="queryTelecomListForPage" resultMap="BaseResultMap" parameterType="Object">
    select
    <include refid="Base_List" />
    from hk_telecom_card c,hk_super_to_channel s
    where s.iccid=c.iccid
    <if test="batch != null and batch != ''">
      and c.batch = #{batch}
    </if>
    <if test="batchId != null and batchId != ''">
      and c.batch_id = #{batchId}
    </if>
    <if test="province != null and province != ''">
      and c.province = #{province}
    </if>
    <if test="isUse != null">
      and c.is_use = #{isUse}
    </if>
    <if test="type != null ">
      and c.type = #{type}
    </if>
    <if test="isDistribution != null">
      and c.is_distribution = #{isDistribution}
    </if>
    <if test="cardName != null">
      and c.card_name = #{cardName}
    </if>
    <if test="queryStartTime != null and queryStartTime != ''" >
      and c.in_time &gt;= #{queryStartTime}
    </if>
    <if test="queryEndTime != null and queryEndTime != ''" >
      and c.in_time &lt;= #{queryEndTime}
    </if>
    <if test="queryStartDistributionTime != null and queryStartDistributionTime != ''" >
      and c.distribution_time &gt;= #{queryStartDistributionTime}
    </if>
    <if test="queryEndDistributionTime != null and queryEndDistributionTime != ''" >
      and c.distribution_time &lt;= #{queryEndDistributionTime}
    </if>
    <if test="queryZhuangStartTime != null and queryZhuangStartTime != ''" >
      and c.update_time &gt;= #{queryZhuangStartTime}
    </if>
    <if test="queryZhuangEndTime != null and queryZhuangEndTime != ''" >
      and c.update_time &lt;= #{queryZhuangEndTime}
    </if>
    <if test="isPush != null">
      and c.is_push = #{isPush}
    </if>
    <if test="queryTelecomStartTime != null and queryTelecomStartTime != ''" >
      and c.update_time &gt;= #{queryTelecomStartTime}
    </if>
    <if test="queryTelecomEndTime != null and queryTelecomEndTime != ''" >
      and c.update_time &lt;= #{queryTelecomEndTime}
    </if>
    order by c.update_time desc
  </select>

  <!-- 根据批次号起始截止iccid批量修改号卡状态 -->
  <update id="updateByStartIccid" parameterType="Object">
    update hk_telecom_card
    set
    station_id = #{stationId,jdbcType=INTEGER},
    distribution_time = #{distributionTime,jdbcType=TIMESTAMP},
    station_express_id=#{stationExpressId,jdbcType=INTEGER},
    station_express_number = #{stationExpressNumber,jdbcType=INTEGER},
    is_distribution = #{isDistribution,jdbcType=INTEGER}
    where batch_id = #{batchId,jdbcType=VARCHAR}
    and cast(iccid as signed) &gt;= cast(#{beginIccid,jdbcType=VARCHAR} as signed)
    and cast(iccid as signed) &lt;= cast(#{endIccid,jdbcType=VARCHAR} as signed)
  </update>





</mapper>