/**翼回收--优惠券查询页面**/
.hide{
	display:none;
}
.result-query .query-box{
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background:#13105A url('../img/result-query-bg.png') no-repeat center 100%;
	background-size:100% auto;
}

.result-query .my-ticket-box{
	position:relative;
	margin:1rem;
	background-color:#FFF;
	border-radius:10px;
	padding:.8rem;
	
}
.result-query .my-ticket-box .tipinfo-box{
	position:relative;
	line-height:3.6rem;
	text-align:center;
}
.result-query .my-ticket-box .tipinfo-box:before{
	content:'';
	position:absolute;
	top:1.8rem;
	right:2rem;
	left:2rem;
	height:2px;
	background-color:#D9D9D9;
}
.result-query .my-ticket-box .tipinfo-box span{
	display:inline-block;
	position:relative;
	background-color:#FFF;
	padding:0 30px;
}

.result-query .query-box .input-item{
	position:relative;
	margin-top:.4rem;
}
.result-query .query-box  .input-item input{
	position:relative;
	width:100%;
	line-height:2.4rem;
    padding:0 .4rem;
    border: 2px solid #d4d8ff;
    border-radius: .2rem;
    background-color: #f5f6fa;
    color: #36414c;
	box-sizing:border-box;
}
.result-query .query-box  .getCodeBtn input.short-input{
	padding-right:7rem;
}
.result-query .query-box  .input-item .input-label{
	position:absolute;
	top:1px;
	right:1px;
	bottom:2px;
	width:7rem;
	line-height:2.4rem;
	border-radius: .2rem;
	text-align:center;
}
.result-query .query-box  .input-item .input-label.active-btn{
	font-size:0.9em;
	color:#FFF;
	background-color:#4762EB;
}
.result-query .query-box  .input-item .input-label.info-box{
	display:none;
	color:#ffffff;
	background-color:#9db5eb;
}

.result-query .query-box  .input-item .query-btn{
	display:block;
	position:relative;
	margin:20px 0px;
	line-height:2.8rem;
	text-align:center;
	border-radius:4px;
	color:#FFF;
	background:#395BF9;
	background: -webkit-linear-gradient(left,  #395BF9 0%,#523CF3 100%); /* Chrome10-25,Safari5.1-6 */
}

/**发送验证码的状态.sending-code**/
.result-query .my-ticket-box.sending-code .input-item .input-label.active-btn{
	display:none;
}
.result-query .my-ticket-box.sending-code .input-item .input-label.info-box{
	display:block;
}



