/**翼回收--抽奖说明**/
.hide{
	display:none;
}
.title-container{
	text-align:center;
	margin-top:2rem;
	font-size:1.1em;
}
.explain{
	position:relative;
	line-height:140%;
	font-size:0.9em;
	padding-left:1rem;
	padding-top:1.5rem;
	padding-right:1rem;
}
.result-prize-intr .intr-box{
	position:relative;
	padding:1rem;
}
.result-prize-intr .section-title{
	position:relative;
	line-height:180%;
	font-size:1.2em;
	color:#367AEE;
	margin-top:1rem;
}
.result-prize-intr p{
	position:relative;
	line-height:150%;
}
.result-prize-intr .prize-item-list{
	position:relative;
}
.result-prize-intr .prize-item-list .prize-item{
	position:relative;
	display:flex;
	flex-flow:row nowrap;
}
.result-prize-intr .prize-item-list .p-name{
	display:inline-block;
	font-weight:bold;
	line-height:150%;
	white-space:nowrap;
}
.result-prize-intr .prize-item-list .p-desc{
	position:relative;
	line-height:150%;
}

/**规则列表**/
.result-prize-intr ol.rule-list{
	list-style: decimal outside;
    padding-left: 18px;
}
.result-prize-intr ol.rule-list li{
	list-style: decimal outside;
	line-height:150%;
}
/**说明图片**/
.result-prize-intr .intr-image{
	padding:.8rem 0;
	margin-top:.8rem;
	border-top:#F2F2F2 1px solid;
	text-align:center;
}
.result-prize-intr .intr-image img{
	margin-top:1rem;
	width:100%;
}
