/**翼回收--抽奖页面**/
.hide{
	display:none;
}
.result-prize{
	position:relative;
	width:100%;
	height:100%;
}
.result-prize .main-container{
	position:relative;
	padding-bottom:60px;
}
.result-prize .buttom-box{
	position:fixed;
	left:0;
	right:0;
	bottom:0;
	background-color:#FFFFFF;
	height:60px;
	border-top:#F4F4F4 1px solid;
}
.result-prize .popo-dialog{
	position:fixed;
	left:0;
	right:0;
	bottom:0;
	top:0;
	background-color:rgba(0,0,0,0.6);
}
/**顶部标题栏**/
.result-prize .title-box{
	position:relative;
}
.result-prize .title-box .title-bg-box{
	position:relative;
}
.result-prize .title-box .title-bg-box img{
	width:100%;
}
.result-prize .title-box .title-logo{
	display:block;
	position:absolute;
	top:1rem;
	left:1rem;
	right:0;
	height:3rem;
	background:url('../img/result-tianyi_logo.png') no-repeat 0 0;
	background-size:40% 40%;
}
.result-prize .title-box .title-main-panel{
	position:absolute;
	top:0.2rem;
	bottom:0;
	left:0;
	right:0;
	display:flex;
	flex-flow:column nowrap;
	justify-content:center;
	align-items:center;
	align-content:center;
	color:#FFFFFF;
}
.result-prize .title-box .intr-label{
	position:relative;
	display:block;
	line-height:2.4rem;
	font-size:.8em;
	color:#E2E2E2;
}
.result-prize .title-box .price-panel{
	position:relative;
	vertical-align:bottom;
	right:0.3rem;
}
.result-prize .title-box .price-panel .price-value{
	display:inline-block;
	font-size:3.2em;
}
.result-prize .title-box .price-panel .price-value img{
	display:inline-block;
	width:2rem;
}
.result-prize .title-box .price-panel .reprice-btn{
	display:inline-block;
	margin-left:5px;
}
.result-prize .title-box .info-panel{
	position:relative;
	line-height:2rem;
}
.result-prize .title-box .info-panel .percent-value{
	position:relative;
	display:inline-block;
	margin:0 5px;
	color:#0BEBFE;
}
.result-prize .title-box .show-btn{
	position:relative;
	margin-top:1.2rem;
	font-size:1.5em;
	color:#FFDA0A;
	text-decoration:underline;
} 
.result-prize .title-box .tipinfo-panel{
	display:inline-block;
	padding:4px 20px;
	margin-top:3.4rem;
	text-decoration:underline;
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, #0180F0 10%, #0180F0 90%,rgba(255,255,255,0) 100%);
}

.result-prize .introduce-box{
	position:relative;
	
} 
.result-prize .introduce-box .price-trend-panel{
	position:relative;
	text-align:center;
	color:#A9A9A9;
	vertical-align:middle;
	padding-bottom:1.5rem;
	border-bottom:#F6F6F6 1px solid;
}
.result-prize .introduce-box .price-trend-panel label{
	color:#222222;
}
.result-prize .introduce-box .price-trend-panel .t-price-value{
	display:inline-block;
	margin:0 2px;
	color:#FF0000;
}
.result-prize .introduce-box .price-trend-panel .t-price-value img{
	display:inline-block;
	width:1.2rem;
}
.result-prize .introduce-box .price-trend-panel .down-arrow{
	display:inline-block;
	position:relative;
	top:.2rem;
	width:.8rem;
	height:1.2rem;
	margin-left:6px;
	background:url('../img/result-down-arrow.png') no-repeat center center;
	background-size:100% 100%;
}

.result-prize .introduce-box .slogan-box{
	position:relative;
	text-align:center;
	height:3rem;
	margin-top:1rem;
	color:#B4C3D0;
	font-size:1.2em;
}
.result-prize .introduce-box .slogan-box:before{
	content:'';
	position:absolute;
	top:50%;
	left:4rem;
	right:4rem;
	height:2px;
	background-color:#B4C3D0;
}
.result-prize .introduce-box .slogan-box span{
	position:relative;
	display:inline-block;
	line-height:3rem;
	padding-left:20px;
	padding-right:20px;
	font-size:.8em;
	background-color:#FFFFFF;
}

.result-prize .introduce-box .intr-item-list{
	position:relative;
	padding:0.5rem 0rem 2rem 0rem;
	display:flex;
	justify-content:center;
	align-content:center;
	align-items:center;
}
.result-prize .introduce-box .intr-item-list .intr-item{
	flex:1;
	display:block;
}
.result-prize .introduce-box .intr-item-list .intr-item .intr-item-icon{
	position:relative;
	margin-top:.5rem;
	text-align:center;
}
.result-prize .introduce-box .intr-item-list .intr-item .intr-item-icon img{
	display:inline-block;
	width:35%;
	height:35%;
}
.result-prize .introduce-box .intr-item-list .intr-item .intr-item-text{
	position:relative;
	margin-top:.5rem;
	text-align:center;
	color:#848484;
	font-size:.8em;
}
/**中奖区的样式**/
.result-prize .prize-box{
	position:relative;
	padding:1rem 2rem;
	background-color:#F0F0F0;
}
.result-prize .prize-box .prize-panel{
	position:relative;
	height:35vw;
	background-color:#4384F5;
}
.result-prize .prize-box .prize-panel:before,
.result-prize .prize-box .prize-panel:after{
	content:'';
	position:absolute;
	top:0;
	bottom:0;
	width:10px;
	background-size:auto 100%;
}
.result-prize .prize-box .prize-panel:before{
	left:-8px;
	background:url('../img/result-prize-bg.png') no-repeat 100% center;
}
.result-prize .prize-box .prize-panel:after{
	right:-8px;
	transform:rotate(180deg);
	background:url('../img/result-prize-bg.png') no-repeat 0 center;
}
.result-prize .prize-box .status-list{
	position:absolute;
	top:0.5rem;
	left:0.5rem;
	right:0.5rem;
	bottom:0.5rem;
}
.result-prize .prize-box .status-list .status-item{
	display:none;
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	text-align:center;
	background-size:25% auto;
	flex-flow:column nowrap;
	justify-content:center;
	align-content:center;
	align-items:center;
}
.result-prize .prize-box .status-list .status-item.active,
.result-prize .prize-box .status-list .status-item.show{
	display:flex;
}
.result-prize .prize-box .status-list .status-item .prize-intr{
	position:relative;
	padding-bottom:1rem;
	color:#EF6F11;
}
.result-prize .prize-box .status-list .status-item .prize-btn{
	position:relative;
	line-height:2rem;
	text-align:center;
	border-radius:4px;
	color:#FFFFFF;
	background-color:#FF4F3D;
	padding:0 1.6rem;
}
/**刮奖区域的样式**/
.result-prize .prize-box .status-list .status-item.check-prize-status{
	
}
/**抽奖结果页面的样式**/
.result-prize .prize-box .status-list .status-item.result-ok-status,
.result-prize .prize-box .status-list .status-item.result-no-status{
	background:#FFC953 url('../img/result-prizeitem-bg.png') repeat -20px -16px;
	background-size:100px auto;
}
/**中奖页面**/
.result-prize .prize-box .status-list .status-item.result-ok-status .prize-intr{
	color:#222222;	
}
/**未中奖页面**/
.result-prize .prize-box .status-list .status-item.result-no-status .prize-title{
	line-height:24px;
}
.result-prize .prize-box .status-list .status-item.result-no-status .prize-desc{
	font-size:.9em;
	line-height:18px;
}
.result-prize .prize-box .status-list .status-item.result-no-status .prize-btn{
	margin-top:3px;
}


	

.result-prize .prize-box .question-tip{
	display:block;
	text-align:center;
	line-height:20px;
	font-size:.8em;
	margin-top:4px;
}
.result-prize .prize-box .question-tip a{
	display:inline-block;
	margin:0 2px;
	color:#6196F4;
}
/**提交按钮**/
.result-prize .buttom-box .action-btn{
	display:block;
	line-height:40px;
	width:80%;
	color:#FFF;
	background-color:#4384F5;
	text-align:center;
	border-radius:20px;
	position:relative;
	margin:0 auto;
	margin-top:10px;
}
/**弹出框**/
.popo-dialog{
	position:fixed;
	top:0;
	right:0;
	left:0;
	bottom:0;
	background-color:rgba(0,0,0,0.6);
	display:flex;
	flex-flow:column nowrap;
	justify-content:center;
	align-content:center;
	align-items:center;
}
.popo-dialog.hide{
	display:none;
}
.popo-dialog .dialog-box{
	position:relative;
	margin:0 auto;
	width:90%;
	background-color:#FFF;
	border-radius:10px;
}
.popo-dialog .dialog-box .dialog-title{
	position:relative;
	height:50px;
	line-height:50px;
	text-align:center;
	font-weight:bold;
	background-color:#F5F5F5;
	border-radius:10px 10px 0 0;
	font-size:1.2em;
}
.popo-dialog .dialog-box .dialog-body{
	position:relative;
	padding:0.8rem;
}
.popo-dialog .dialog-box .dialog-body .tipinfo-box{
	position:relative;
	font-size:.8em;
	line-height:120%;
	padding-bottom:0.4rem;
}
.popo-dialog .dialog-box .dialog-body .input-item{
	position:relative;
	margin-top:.4rem;
}
.popo-dialog .dialog-box .dialog-body .input-item input{
	position:relative;
	width:100%;
	line-height:2.4rem;
    padding:0 .4rem;
    border: 2px solid #d4d8ff;
    border-radius: .2rem;
    background-color: #f5f6fa;
    color: #36414c;
	box-sizing:border-box;
}
.popo-dialog .dialog-box .dialog-body .getCodeBtn input.short-input{
	padding-right:7rem;
}
.popo-dialog .dialog-box .dialog-body .input-item .input-label{
	position:absolute;
	top:1px;
	right:1px;
	bottom:2px;
	width:7rem;
	line-height:2.4rem;
	border-radius: .2rem;
	text-align:center;
}
.popo-dialog .dialog-box .dialog-body .input-item .input-label.active-btn{
	font-size:0.9em;
	color:#FFF;
	background-color:#4762EB;
}
.popo-dialog .dialog-box .dialog-body .input-item .input-label.info-box{
	display:none;
	color:#ffffff;
	background-color:#9db5eb;
}

.popo-dialog .dialog-box .dialog-body .input-item .do-prize-btn{
	display:block;
	position:relative;
	margin:20px 0px;
	line-height:2.8rem;
	text-align:center;
	border-radius:4px;
	color:#FFF;
	background:#395BF9;
	background: -webkit-linear-gradient(left,  #395BF9 0%,#523CF3 100%); /* Chrome10-25,Safari5.1-6 */
}

/**发送验证码的状态.sending-code**/
.popo-dialog .dialog-box.sending-code .dialog-body .input-item .input-label.active-btn{
	display:none;
}
.popo-dialog .dialog-box.sending-code .dialog-body .input-item .input-label.info-box{
	display:block;
}

.popo-dialog .dialog-box:before{
	content:'';
	position:absolute;
	top:-38px;
	right:30px;
	width:1px;
	height:38px;
	background-color:#FFF;
}

.popo-dialog .dialog-box .close-btn{
	display:block;
	position:absolute;
	top:-80px;
	right:10px;
	width:40px;
	height:40px;
	line-height:40px;
	border-radius:50%;
	text-align:center;
	color:#FFF;
	border:#FFF 1px solid;
} 

/**分享到朋友圈的按钮**/
.share-to-wechat-btn{
	position:relative;
	height:2rem;
	line-height:2rem;
	border-radius:1rem;
	padding:0 2rem;
	margin-top:1rem;
	color:#222;
	background-color:#FADA4B;
	text-align:center;
}

/**白色透明层**/
.title-main-panel:before{
	content:'';
	position:absolute;
	left:1rem;
	right:1rem;
	top:4rem;
	bottom:3rem;
	border-radius:4px;
	background-color:rgba(255,255,255,.2);
	
}
