<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuaixiu.recycleCoupon.dao.HsActivityAndCouponMapper" >
    <!-- Result Map-->
    <resultMap id="BaseResultMap" type="com.kuaixiu.recycleCoupon.entity.HsActivityAndCoupon" >
        <result column="id" property="id"/>
        <result column="activity_id" property="activityId"/>
        <result column="coupon_id" property="couponId"/>
        <result column="end_time" property="endTime"/>
    </resultMap>
    
    <!-- hs_activity_and_coupon table all fields -->
    <sql id="Base_Column_List" >
        id,activity_id,coupon_id,date_format(`end_time`,'%Y-%m-%d')end_time
    </sql>

    <!-- 插入记录 -->
    <insert id="add" parameterType="Object" >
        insert into hs_activity_and_coupon
        (id,activity_id,coupon_id,end_time)
        values
        (#{id},#{activityId},#{couponId},#{endTime})
    </insert>

    <!-- 根据id，修改记录-->
    <update id="update" parameterType="Object" >
        update hs_activity_and_coupon 
        set 
            id=#{id},
            activity_id=#{activityId},
            coupon_id=#{couponId},
            end_time=#{endTime}
        where id=#{id}
    </update>

    <!-- 删除记录 -->
    <delete id="delete" parameterType="Object">
        delete from hs_activity_and_coupon where id = #{id}
    </delete>
    
    <!-- 根据id查询  -->
    <select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
        select <include refid="Base_Column_List" />
        from hs_activity_and_coupon where id = #{id}
    </select>

    <select id="queryByActivityId"  resultMap="BaseResultMap" parameterType="Object">
        select <include refid="Base_Column_List" />
        from hs_activity_and_coupon where activity_id=#{activityId}
    </select>

    <!-- 查询列表无分页 -->
    <select id="queryList" resultMap="BaseResultMap"  parameterType="Object">
        select
        <include refid="Base_Column_List"/>
        from hs_activity_and_coupon
        where 1=1
        <if test="id != null and id != ''" >
            and id = #{id}
        </if>
        <if test="activityId != null and activityId != ''" >
            and activity_id = #{activityId}
        </if>
        <if test="couponId != null and couponId != ''" >
            and coupon_id = #{couponId}
        </if>
        <if test="endTime != null and endTime != ''" >
            and end_time = #{endTime}
        </if>
    </select>
    
    <!-- 查询列表 带分页 -->
    <select id="queryListForPage" resultMap="BaseResultMap"  parameterType="Object">
        select
        <include refid="Base_Column_List"/>
        from hs_activity_and_coupon
        where 1=1
        <if test="id != null and id != ''" >
            and id = #{id}
        </if>
        <if test="activityId != null and activityId != ''" >
            and activity_id = #{activityId}
        </if>
        <if test="couponId != null and couponId != ''" >
            and coupon_id = #{couponId}
        </if>
        <if test="endTime != null and endTime != ''" >
            and end_time = #{endTime}
        </if>
    </select>

</mapper>   