<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuaixiu.materiel.dao.EngineerStockMapper" >
    <!-- Result Map-->
    <resultMap id="BaseResultMap" type="com.kuaixiu.materiel.entity.EngineerStock" >
        <result column="id" property="id"/>
        <result column="engineer_no" property="engineerNo"/>
        <result column="materiel_id" property="materielId"/>
        <result column="materiel_type" property="materielType"/>
        <result column="number" property="number"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>
    
    <!-- lc_engineer_stock table all fields -->
    <sql id="Base_Column_List" >
        id,engineer_no,materiel_id,materiel_type,number,date_format(`create_time`,'%Y-%m-%d %H:%i:%s')create_time,date_format(`update_time`,'%Y-%m-%d %H:%i:%s')update_time
    </sql>

    <!-- 插入记录 -->
    <insert id="add" parameterType="Object" >
        insert into lc_engineer_stock
        (id,engineer_no,materiel_id,materiel_type,number,create_time,update_time)
        values
        (#{id},#{engineerNo},#{materielId},#{materielType},#{number},#{createTime},#{updateTime})
    </insert>

    <!-- 根据id，修改记录-->
    <update id="update" parameterType="Object" >
        update lc_engineer_stock 
        set 
            id=#{id},
            engineer_no=#{engineerNo},
            materiel_id=#{materielId},
            materiel_type=#{materielType},
            number=#{number},
            create_time=#{createTime},
            update_time=#{updateTime}
        where id=#{id}
    </update>

    <!-- 删除记录 -->
    <delete id="delete" parameterType="Object">
        delete from lc_engineer_stock where id = #{id}
    </delete>
    
    <!-- 根据id查询  -->
    <select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
        select <include refid="Base_Column_List" />
        from lc_engineer_stock where id = #{id}
    </select>

    <select id="queryCountByType"  resultType="Integer" parameterType="Object">
        select count(1)
        from lc_engineer_stock
        where engineer_no=#{engineerNo} and materiel_type=#{materielType}
    </select>

    <select id="queryCountByMaterielId"  resultMap="BaseResultMap" parameterType="Object">
        select <include refid="Base_Column_List" />
        from lc_engineer_stock
        where engineer_no=#{engineerNo} and materiel_id = #{materielId}
    </select>

    <select id="queryModelCountByEngNo"  resultType="Map" parameterType="Object">
        select m.brand_id brandId,m.brand_name brandName,
        m.model_id modelId,m.model_name modelName,count(1) totalNum
        from lc_engineer_stock e
        LEFT JOIN lc_materiel_type m ON e.materiel_id=m.id
        where e.engineer_no=#{engineerNo} and e.materiel_type=#{materielType}
        GROUP BY m.brand_id,m.brand_name,m.model_id,m.model_name
    </select>

    <select id="queryMaterielCountByModel"  resultType="Map" parameterType="Object">
        select m.id materielId,m.materiel_name materielName,count(1) stockNum
        from lc_engineer_stock e
        LEFT JOIN lc_materiel_type m ON e.materiel_id=m.id
        where e.engineer_no=#{engineerNo} and e.materiel_type=#{materielType}
        and m.brand_id=#{brandId} and m.model_id=#{modelId}
        GROUP BY m.id,m.materiel_name
    </select>

    <!-- 查询列表无分页 -->
    <select id="queryList" resultMap="BaseResultMap"  parameterType="Object">
        select
        <include refid="Base_Column_List"/>
        from lc_engineer_stock
        where 1=1
        <if test="id != null and id != ''" >
            and id = #{id}
        </if>
        <if test="engineerNo != null and engineerNo != ''" >
            and engineer_no = #{engineerNo}
        </if>
        <if test="materielId != null and materielId != ''" >
            and materiel_id = #{materielId}
        </if>
        <if test="materielType != null and materielType != ''" >
            and materiel_type = #{materielType}
        </if>
        <if test="number != null and number != ''" >
            and number = #{number}
        </if>
        <if test="createTime != null and createTime != ''" >
            and create_time = #{createTime}
        </if>
        <if test="updateTime != null and updateTime != ''" >
            and update_time = #{updateTime}
        </if>
    </select>
    
    <!-- 查询列表 带分页 -->
    <select id="queryListForPage" resultMap="BaseResultMap"  parameterType="Object">
        select
        <include refid="Base_Column_List"/>
        from lc_engineer_stock
        where 1=1
        <if test="id != null and id != ''" >
            and id = #{id}
        </if>
        <if test="engineerNo != null and engineerNo != ''" >
            and engineer_no = #{engineerNo}
        </if>
        <if test="materielId != null and materielId != ''" >
            and materiel_id = #{materielId}
        </if>
        <if test="materielType != null and materielType != ''" >
            and materiel_type = #{materielType}
        </if>
        <if test="number != null and number != ''" >
            and number = #{number}
        </if>
        <if test="createTime != null and createTime != ''" >
            and create_time = #{createTime}
        </if>
        <if test="updateTime != null and updateTime != ''" >
            and update_time = #{updateTime}
        </if>
    </select>

</mapper>   