<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuaixiu.materiel.dao.MaterielStockMapper" >
    <!-- Result Map-->
    <resultMap id="BaseResultMap" type="com.kuaixiu.materiel.entity.MaterielStock" >
        <result column="id" property="id"/>
        <result column="materiel_id" property="materielId"/>
        <result column="number" property="number"/>
        <result column="price" property="price"/>
        <result column="create_time" property="createTime"/>
    </resultMap>
    
    <!-- lc_materiel_stock table all fields -->
    <sql id="Base_Column_List" >
        id,materiel_id,number,price,date_format(`create_time`,'%Y-%m-%d %H:%i:%s')create_time
    </sql>

    <!-- 插入记录 -->
    <insert id="add" parameterType="Object" >
        insert into lc_materiel_stock
        (id,materiel_id,number,price,create_time)
        values
        (#{id},#{materielId},#{number},#{price},#{createTime})
    </insert>

    <!-- 根据id，修改记录-->
    <update id="update" parameterType="Object" >
        update lc_materiel_stock 
        set 
            id=#{id},
            materiel_id=#{materielId},
            number=#{number},
            price=#{price},
            create_time=#{createTime}
        where id=#{id}
    </update>

    <!-- 删除记录 -->
    <delete id="delete" parameterType="Object">
        delete from lc_materiel_stock where id = #{id}
    </delete>
    
    <!-- 根据id查询  -->
    <select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
        select <include refid="Base_Column_List" />
        from lc_materiel_stock where id = #{id}
    </select>

    <!-- 查询列表无分页 -->
    <select id="queryList" resultMap="BaseResultMap"  parameterType="Object">
        select
        <include refid="Base_Column_List"/>
        from lc_materiel_stock
        where 1=1
        <if test="id != null and id != ''" >
            and id = #{id}
        </if>
        <if test="materielId != null and materielId != ''" >
            and materiel_id = #{materielId}
        </if>
        <if test="number != null and number != ''" >
            and number = #{number}
        </if>
        <if test="price != null and price != ''" >
            and price = #{price}
        </if>
        <if test="createTime != null and createTime != ''" >
            and create_time = #{createTime}
        </if>
    </select>
    
    <!-- 查询列表 带分页 -->
    <select id="queryListForPage" resultMap="BaseResultMap"  parameterType="Object">
        select
        <include refid="Base_Column_List"/>
        from lc_materiel_stock
        where 1=1
        <if test="id != null and id != ''" >
            and id = #{id}
        </if>
        <if test="materielId != null and materielId != ''" >
            and materiel_id = #{materielId}
        </if>
        <if test="number != null and number != ''" >
            and number = #{number}
        </if>
        <if test="price != null and price != ''" >
            and price = #{price}
        </if>
        <if test="createTime != null and createTime != ''" >
            and create_time = #{createTime}
        </if>
    </select>

</mapper>   