<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuaixiu.materiel.dao.MaterielTypeMapper" >
    <!-- Result Map-->
    <resultMap id="BaseResultMap" type="com.kuaixiu.materiel.entity.MaterielType" >
        <result column="id" property="id"/>
        <result column="brand_id" property="brandId"/>
        <result column="brand_name" property="brandName"/>
        <result column="model_id" property="modelId"/>
        <result column="model_name" property="modelName"/>
        <result column="materiel_name" property="materielName"/>
    </resultMap>
    
    <!-- lc_materiel_type table all fields -->
    <sql id="Base_Column_List" >
        id,brand_id,brand_name,model_id,model_name,materiel_name
    </sql>

    <!-- 插入记录 -->
    <insert id="add" parameterType="Object" >
        insert into lc_materiel_type
        (id,brand_id,brand_name,model_id,model_name,materiel_name)
        values
        (#{id},#{brandId},#{brandName},#{modelId},#{modelName},#{materielName})
    </insert>

    <!-- 根据id，修改记录-->
    <update id="update" parameterType="Object" >
        update lc_materiel_type 
        set 
            id=#{id},
            brand_id=#{brandId},
            brand_name=#{brandName},
            model_id=#{modelId},
            model_name=#{modelName},
            materiel_name=#{materielName}
        where id=#{id}
    </update>

    <!-- 删除记录 -->
    <delete id="delete" parameterType="Object">
        delete from lc_materiel_type where id = #{id}
    </delete>
    
    <!-- 根据id查询  -->
    <select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
        select <include refid="Base_Column_List" />
        from lc_materiel_type where id = #{id}
    </select>

    <!-- 根据id查询  -->
    <select id="queryByModel"  resultMap="BaseResultMap" parameterType="Object">
        select <include refid="Base_Column_List" />
        from lc_materiel_type where brand_id = #{brandId} and model_id = #{modelId}
    </select>

    <!-- 查询列表无分页 -->
    <select id="queryList" resultMap="BaseResultMap"  parameterType="Object">
        select
        <include refid="Base_Column_List"/>
        from lc_materiel_type
        where 1=1
        <if test="id != null and id != ''" >
            and id = #{id}
        </if>
        <if test="brandId != null and brandId != ''" >
            and brand_id = #{brandId}
        </if>
        <if test="brandName != null and brandName != ''" >
            and brand_name = #{brandName}
        </if>
        <if test="modelId != null and modelId != ''" >
            and model_id = #{modelId}
        </if>
        <if test="modelName != null and modelName != ''" >
            and model_name = #{modelName}
        </if>
        <if test="materielName != null and materielName != ''" >
            and materiel_name = #{materielName}
        </if>
    </select>
    
    <!-- 查询列表 带分页 -->
    <select id="queryListForPage" resultMap="BaseResultMap"  parameterType="Object">
        select
        <include refid="Base_Column_List"/>
        from lc_materiel_type
        where 1=1
        <if test="id != null and id != ''" >
            and id = #{id}
        </if>
        <if test="brandId != null and brandId != ''" >
            and brand_id = #{brandId}
        </if>
        <if test="brandName != null and brandName != ''" >
            and brand_name = #{brandName}
        </if>
        <if test="modelId != null and modelId != ''" >
            and model_id = #{modelId}
        </if>
        <if test="modelName != null and modelName != ''" >
            and model_name = #{modelName}
        </if>
        <if test="materielName != null and materielName != ''" >
            and materiel_name = #{materielName}
        </if>
    </select>

</mapper>   