<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuaixiu.materiel.dao.SecurityStockMapper" >
    <!-- Result Map-->
    <resultMap id="BaseResultMap" type="com.kuaixiu.materiel.entity.SecurityStock" >
        <result column="id" property="id"/>
        <result column="materiel_id" property="materielId"/>
        <result column="number" property="number"/>
    </resultMap>
    
    <!-- lc_security_stock table all fields -->
    <sql id="Base_Column_List" >
        id,materiel_id,number
    </sql>

    <!-- 插入记录 -->
    <insert id="add" parameterType="Object" >
        insert into lc_security_stock
        (id,materiel_id,number)
        values
        (#{id},#{materielId},#{number})
    </insert>

    <!-- 根据id，修改记录-->
    <update id="update" parameterType="Object" >
        update lc_security_stock 
        set 
            id=#{id},
            materiel_id=#{materielId},
            number=#{number}
        where id=#{id}
    </update>

    <!-- 删除记录 -->
    <delete id="delete" parameterType="Object">
        delete from lc_security_stock where id = #{id}
    </delete>
    
    <!-- 根据id查询  -->
    <select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
        select <include refid="Base_Column_List" />
        from lc_security_stock where id = #{id}
    </select>

    <select id="queryByMaterielId"  resultMap="BaseResultMap" parameterType="Object">
        select <include refid="Base_Column_List" />
        from lc_security_stock where materiel_id = #{materielId}
    </select>

    <select id="queryModelCount"  resultType="Map" parameterType="Object">
        select m.brand_id brandId,m.brand_name brandName,
        m.model_id modelId,m.model_name modelName,count(1) totalNum
        from lc_security_stock s LEFT JOIN lc_materiel_type m ON s.materiel_id=m.id
        GROUP BY m.brand_id,m.brand_name,m.model_id,m.model_name
    </select>

    <select id="queryMaterielCountByModel"  resultType="Map" parameterType="Object">
        select m.id materielId,m.materiel_name materielName,count(1) stockNum
        from lc_security_stock s LEFT JOIN lc_materiel_type m ON s.materiel_id=m.id
        where m.brand_id=#{brandId} and m.model_id=#{modelId}
        GROUP BY m.id,m.materiel_name
    </select>

    <!-- 查询列表无分页 -->
    <select id="queryList" resultMap="BaseResultMap"  parameterType="Object">
        select
        <include refid="Base_Column_List"/>
        from lc_security_stock
        where 1=1
        <if test="id != null and id != ''" >
            and id = #{id}
        </if>
        <if test="materielId != null and materielId != ''" >
            and materiel_id = #{materielId}
        </if>
        <if test="number != null and number != ''" >
            and number = #{number}
        </if>
    </select>
    
    <!-- 查询列表 带分页 -->
    <select id="queryListForPage" resultMap="BaseResultMap"  parameterType="Object">
        select
        <include refid="Base_Column_List"/>
        from lc_security_stock
        where 1=1
        <if test="id != null and id != ''" >
            and id = #{id}
        </if>
        <if test="materielId != null and materielId != ''" >
            and materiel_id = #{materielId}
        </if>
        <if test="number != null and number != ''" >
            and number = #{number}
        </if>
    </select>

</mapper>   