<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shangji.user.dao.MenuMapper" >
    <!-- Result Map-->
    <resultMap id="BaseResultMap" type="com.shangji.user.entity.Menu" >
        <result column="id" property="id"/>
        <result column="code" property="code"/>
        <result column="pcode" property="pcode"/>
        <result column="name" property="name"/>
        <result column="type" property="type"/>
        <result column="is_show" property="isShow"/>
        <result column="href" property="href"/>
        <result column="is_del" property="isDel"/>
        <result column="create_time" property="createTime"/>
        <result column="create_userid" property="createUserid"/>
    </resultMap>
    
    <!-- sj_menu table all fields -->
    <sql id="Base_Column_List" >
        id,code,pcode,name,type,is_show,href,is_del,date_format(`create_time`,'%Y-%m-%d %H:%i:%s')create_time,create_userid
    </sql>

    <sql id="Base_Column_List_T" >
        t.id,t.code,t.pcode,t.name,t.type,t.is_show,t.href,t.is_del,
        date_format(`t.create_time`,'%Y-%m-%d %H:%i:%s')create_time,t.create_userid
    </sql>

    <!-- 插入记录 -->
    <insert id="add" parameterType="Object" >
        insert into sj_menu
        (id,code,pcode,name,type,is_show,href,is_del,create_time,create_userid)
        values
        (#{id},#{code},#{pcode},#{name},#{type},#{isShow},#{href},#{isDel},#{createTime},#{createUserid})
    </insert>

    <!-- 根据id，修改记录-->
    <update id="update" parameterType="Object" >
        update sj_menu 
        set 
            id=#{id},
            code=#{code},
            pcode=#{pcode},
            name=#{name},
            type=#{type},
            is_show=#{isShow},
            href=#{href},
            is_del=#{isDel},
            create_time=#{createTime},
            create_userid=#{createUserid}
        where id=#{id}
    </update>

    <select id="queryMenusByUserId" resultMap="BaseResultMap" parameterType="Object">
        select DISTINCT
        <include refid="Base_Column_List_T"/>
        from sj_user_role ur
        LEFT JOIN sj_menu_role mr on ur.role_id = mr.role_id
        LEFT JOIN sj_menu t on mr.menu_code = t.`code`
        where ur.user_id = #{uid} and t.is_del = 0
        order by t.code
    </select>

    <!-- 删除记录 -->
    <delete id="delete" parameterType="Object">
        delete from sj_menu where id = #{id}
    </delete>
    
    <!-- 根据id查询  -->
    <select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
        select <include refid="Base_Column_List" />
        from sj_menu where id = #{id}
    </select>

    <!-- 查询列表无分页 -->
    <select id="queryList" resultMap="BaseResultMap"  parameterType="Object">
        select
        <include refid="Base_Column_List"/>
        from sj_menu
        where 1=1
        <if test="id != null and id != ''" >
            and id = #{id}
        </if>
        <if test="code != null and code != ''" >
            and code = #{code}
        </if>
        <if test="pcode != null and pcode != ''" >
            and pcode = #{pcode}
        </if>
        <if test="name != null and name != ''" >
            and name = #{name}
        </if>
        <if test="type != null and type != ''" >
            and type = #{type}
        </if>
        <if test="isShow != null and isShow != ''" >
            and is_show = #{isShow}
        </if>
        <if test="href != null and href != ''" >
            and href = #{href}
        </if>
        <if test="isDel != null and isDel != ''" >
            and is_del = #{isDel}
        </if>
        <if test="createTime != null and createTime != ''" >
            and create_time = #{createTime}
        </if>
        <if test="createUserid != null and createUserid != ''" >
            and create_userid = #{createUserid}
        </if>
    </select>
    
    <!-- 查询列表 带分页 -->
    <select id="queryListForPage" resultMap="BaseResultMap"  parameterType="Object">
        select
        <include refid="Base_Column_List"/>
        from sj_menu
        where 1=1
        <if test="id != null and id != ''" >
            and id = #{id}
        </if>
        <if test="code != null and code != ''" >
            and code = #{code}
        </if>
        <if test="pcode != null and pcode != ''" >
            and pcode = #{pcode}
        </if>
        <if test="name != null and name != ''" >
            and name = #{name}
        </if>
        <if test="type != null and type != ''" >
            and type = #{type}
        </if>
        <if test="isShow != null and isShow != ''" >
            and is_show = #{isShow}
        </if>
        <if test="href != null and href != ''" >
            and href = #{href}
        </if>
        <if test="isDel != null and isDel != ''" >
            and is_del = #{isDel}
        </if>
        <if test="createTime != null and createTime != ''" >
            and create_time = #{createTime}
        </if>
        <if test="createUserid != null and createUserid != ''" >
            and create_userid = #{createUserid}
        </if>
    </select>

</mapper>   