<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuaixiu.brand.dao.BrandMapper" >
    <!-- Result Map-->
    <resultMap id="BaseResultMap" type="com.kuaixiu.brand.entity.Brand" >
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="name_en" property="nameEn"/>
        <result column="logo" property="logo"/>
        <result column="initial" property="initial"/>
        <result column="sort" property="sort"/>
        <result column="is_del" property="isDel"/>
        <result column="create_time" property="createTime"/>
        <result column="create_userid" property="createUserid"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_userid" property="updateUserid"/>
    </resultMap>
    
    <!-- kx_brand table all fields -->
    <sql id="Base_Column_List" >
        id,name,name_en,logo,initial,sort,is_del,date_format(`create_time`,'%Y-%m-%d %H:%i:%s')create_time,create_userid,date_format(`update_time`,'%Y-%m-%d %H:%i:%s')update_time,update_userid
    </sql>

    <!-- 插入记录 -->
    <insert id="add" parameterType="Object" >
        insert into kx_brand
        (id,name,name_en,logo,initial,sort,is_del,create_time,create_userid)
        values
        (uuid(),#{name},#{nameEn},#{logo},#{initial},#{sort},#{isDel},now(),#{createUserid})
    </insert>

    <!-- 根据id，修改记录-->
    <update id="update" parameterType="Object" >
        update kx_brand 
        set 
            id=#{id},
            name=#{name},
            name_en=#{nameEn},
            logo=#{logo},
            initial=#{initial},
            sort=#{sort},
            is_del=#{isDel},
            update_time=now(),
            update_userid=#{updateUserid}
        where id=#{id}
    </update>

    <!-- 删除记录 -->
    <delete id="delete" parameterType="Object">
        delete from kx_brand where id = #{id}
    </delete>
    
    <!-- 根据id查询  -->
    <select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
        select <include refid="Base_Column_List" />
        from kx_brand where id =  #{id}
    </select>

	
    <!-- 根据名称查询 -->
    <select id="queryByName"  resultMap="BaseResultMap" parameterType="Object">
        select <include refid="Base_Column_List" />
        from kx_brand where name = #{name} and is_del = 0
    </select>

    <!-- 查询列表无分页 -->
    <select id="queryList" resultMap="BaseResultMap"  parameterType="Object">
        select
        <include refid="Base_Column_List"/>
        from kx_brand
        where is_del = 0
        <if test="id != null and id != ''" >
            and id = #{id}
        </if>
        <if test="name != null and name != ''" >
            and name = #{name}
        </if>
        <if test="nameEn != null and nameEn != ''" >
            and name_en = #{nameEn}
        </if>
        <if test="logo != null and logo != ''" >
            and logo = #{logo}
        </if>
        <if test="initial != null and initial != ''" >
            and initial = #{initial}
        </if>
        <if test="isDel != null" >
            and is_del = #{isDel}
        </if>
		order by sort
    </select>
    
    <!-- 查询列表 带分页 -->
    <select id="queryListForPage" resultMap="BaseResultMap"  parameterType="Object">
        select
        <include refid="Base_Column_List"/>
        from kx_brand
        where is_del = 0
        <if test="id != null and id != ''" >
            and id = #{id}
        </if>
        <if test="name != null and name != ''" >
            and name = #{name}
        </if>
        <if test="nameEn != null and nameEn != ''" >
            and name_en = #{nameEn}
        </if>
        <if test="logo != null and logo != ''" >
            and logo = #{logo}
        </if>
        <if test="initial != null and initial != ''" >
            and initial = #{initial}
        </if>
        <if test="isDel != null" >
            and is_del = #{isDel}
        </if>
		order by sort,id
    </select>

</mapper>   