<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuaixiu.groupShortUrl.dao.HsGroupShortUrlRecordMapper" >
    <!-- Result Map-->
    <resultMap id="BaseResultMap" type="com.kuaixiu.groupShortUrl.entity.HsGroupShortUrlRecord" >
        <result column="id" property="id"/>
        <result column="batch_id" property="batchId"/>
        <result column="mobile" property="mobile"/>
        <result column="address_id" property="addressId"/>
        <result column="sms_id" property="smsId"/>
        <result column="create_time" property="createTime"/>
        <result column="create_userid" property="createUserid"/>
    </resultMap>
    
    <!-- hs_group_shorturl_record table all fields -->
    <sql id="Base_Column_List" >
        id,batch_id,mobile,address_id,sms_id,date_format(`create_time`,'%Y-%m-%d %H:%i:%s')create_time,create_userid
    </sql>

    <!-- 插入记录 -->
    <insert id="add" parameterType="Object" >
        insert into hs_group_shorturl_record
        (id,batch_id,mobile,address_id,sms_id,create_time,create_userid)
        values
        (#{id},#{batchId},#{mobile},#{addressId},#{smsId},now(),#{createUserid})
    </insert>

    <!-- 根据id，修改记录-->
    <update id="update" parameterType="Object" >
        update hs_group_shorturl_record 
        set 
            id=#{id},
            batch_id=#{batchId},
            mobile=#{mobile},
            address_id=#{addressId},
            sms_id=#{smsId},
            create_time=#{createTime},
            create_userid=#{createUserid}
        where id=#{id}
    </update>

    <!-- 删除记录 -->
    <delete id="delete" parameterType="Object">
        delete from hs_group_shorturl_record where id = #{id}
    </delete>
    
    <!-- 根据id查询  -->
    <select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
        select <include refid="Base_Column_List" />
        from hs_group_shorturl_record where id = #{id}
    </select>

    <!-- 查询列表无分页 -->
    <select id="queryList" resultMap="BaseResultMap"  parameterType="Object">
        select
        <include refid="Base_Column_List"/>
        from hs_group_shorturl_record
        where 1=1
        <if test="id != null and id != ''" >
            and id = #{id}
        </if>
        <if test="batchId != null and batchId != ''" >
            and batch_id = #{batchId}
        </if>
        <if test="mobile != null and mobile != ''" >
            and mobile = #{mobile}
        </if>
        <if test="addressId != null and addressId != ''" >
            and address_id = #{addressId}
        </if>
        <if test="smsId != null and smsId != ''" >
            and sms_id = #{smsId}
        </if>
        <if test="createTime != null and createTime != ''" >
            and create_time = #{createTime}
        </if>
        <if test="createUserid != null and createUserid != ''" >
            and create_userid = #{createUserid}
        </if>
    </select>
    
    <!-- 查询列表 带分页 -->
    <select id="queryListForPage" resultMap="BaseResultMap"  parameterType="Object">
        select
        <include refid="Base_Column_List"/>
        from hs_group_shorturl_record
        where 1=1
        <if test="id != null and id != ''" >
            and id = #{id}
        </if>
        <if test="batchId != null and batchId != ''" >
            and batch_id = #{batchId}
        </if>
        <if test="mobile != null and mobile != ''" >
            and mobile like CONCAT('%', #{mobile}, '%')
        </if>
        <if test="addressId != null and addressId != ''" >
            and address_id = #{addressId}
        </if>
        <if test="smsId != null and smsId != ''" >
            and sms_id = #{smsId}
        </if>
        <if test="queryStartTime != null and queryStartTime != ''">
            and create_time &gt;= #{queryStartTime}
        </if>
        <if test="queryEndTime != null and queryEndTime != ''">
            and create_time &lt;= #{queryEndTime}
        </if>
        <if test="createTime != null and createTime != ''" >
            and create_time = #{createTime}
        </if>
        <if test="createUserid != null and createUserid != ''" >
            and create_userid = #{createUserid}
        </if>
        order by create_time desc
    </select>

</mapper>   