<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="expires" content="0">
	<title>M-超人</title>
	<base href="/webpc/">
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<script src="js/vue.min.js"></script>
</head>
<body id="body" style="display: none;">
	<div class="index_topmenubg">
		<div class="index_topmenu">
			<a class="logo" href="index.html"><img src="img/logo.jpg" /></a>
			<div class="index_topright">
				<div class="inquiry">
					<input class="text" readonly="readonly" type="text" value="查询/支付" placeholder="查询/支付" />
					<input class="search" type="button" value="" />
				</div>
			</div>

			<div class="top_menus">
				<a class="href hrefin" href="index.html">首页</a>
				<a class="href" href="fault.html">上门维修</a>
				<a class="href" href="http://huishou.m-super.cn/" target="_blank">旧机回收</a>
				<a class="href" href="http://huishou.m-super.cn/" target="_blank">以旧换新</a>
			</div>
		</div>
	</div>

	<div class="banner" id="box">
		<div class="index_banner">
			<div class="banner_but">
				<div class="prev"></div>
				<div class="next"></div>
			</div>
			<ul class="bigUl">
				<li style="z-index:1"><a href="javascript:void(0)" style="background-image: url(img/banner_img.jpg);"></a></li>
				<li><a href="javascript:void(0)" style="background-image: url(img/banner_img1.jpg);"></a></li>
			</ul>
			<ul class="numberUl">
				<li class="night"><a href="javascript:;"></a></li>
				<li><a href="javascript:;"></a></li>
			</ul>
		</div>
	</div>

	<div class="hot_activitybg">
		<div class="hot_activity">
			<div class="hot_title"><i class="icon"></i>M-超人　热门活动</div>
			<div class="activity_cont">
				<div class="activity_left">
					<ul class="activity_list">
						<li>
							<p><a class="font" href="javascript:void(0)">关注M-超人的公众号既可免费领取手机套啦！</a></p>
							<span class="time">2016-11-08</span>
						</li>
						<li>
							<p><a class="font" href="javascript:void(0)">关注M-超人的公众号既可免费领取手机套啦！</a></p>
							<span class="time">2016-11-08</span>
						</li>
						<li>
							<p><a class="font" href="javascript:void(0)">关注M-超人的公众号既可免费领取手机套啦！</a></p>
							<span class="time">2016-11-08</span>
						</li>
						<li>
							<p><a class="font" href="javascript:void(0)">关注M-超人的公众号既可免费领取手机套啦！</a></p>
							<span class="time">2016-11-08</span>
						</li>
						<li>
							<p><a class="font" href="javascript:void(0)">关注M-超人的公众号既可免费领取手机套啦！</a></p>
							<span class="time">2016-11-08</span>
						</li>

					</ul>
				</div>
				<div class="activity_right">
					<a class="href" href="javascript:void(0)">
						<img class="img" src="img/index_img.jpg">
						<p class="font">M-超人品牌介绍</p>
					</a>
				</div>
			</div>
		</div>
	</div>

	<div class="iphone_banner">

		<ul class="iphone_list">
			<li>
				<a href="javascript:void(0)">
					<img src="img/iphone6splus.jpg" />
					<p>iphone6<b>s</b>Plus</p>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)">
					<img src="img/iphone6s.jpg" />
					<p>iphone6<b>s</b></p>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)">
					<img src="img/iphone6plus.jpg" />
					<p>iphone6 Plus</p>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)">
					<img src="img/iphone6.jpg" />
					<p>iphone6</p>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)">
					<img src="img/iphonese.jpg" />
					<p>iphone<b>se</b></p>
				</a>
			</li>

		</ul>

	</div>

	<div class="repair_function">
		<ul class="function_list">
			<li>
				<a class="function_but" href="javascript:;">
					<span class="title">原厂品质</span>
					<i class="lien"></i>
					<span class="font">品质媲美原装</span>
				</a>
			</li>
			<li>
				<a class="function_but" href="javascript:;">
					<span class="title">透明报价</span>
					<i class="lien"></i>
					<span class="font">先服务后付款</span>
				</a>
			</li>
			<li>
				<a class="function_but" href="javascript:;">
					<span class="title">两小时响应</span>
					<i class="lien"></i>
					<span class="font">专业团队上门快修</span>
				</a>
			</li>
			<li>
				<a class="function_but" href="javascript:;">
					<span class="title">半年保质</span>
					<i class="lien"></i>
					<span class="font">需同一故障点</span>
				</a>
			</li>
		</ul>
	</div>

	<div class="index_bottom">
		<a class="about" href="javascript:void(0)"><i class="icon icon1"></i><span class="font">联系客服</span><i class="lien"></i></a>
		<a class="about" href="javascript:void(0)"><i class="icon icon2"></i><span class="font">合作支持</span><i class="lien"></i></a>
		<a class="about" href="javascript:;"><i class="icon icon3"></i><span class="font">关于我们</span></a>
	</div>
	<div class="index_copyright">
		<div class="index_copycont">
			<p>Copyright 2016 All Rights Reserved 杭州翼诺科技有限公司 技术支持 浙ICP备16041546号</p>
			<div class="code">
				<img src="img/code.png" />
				<span>扫码关注微信公众号</span>
			</div>
		</div>
	</div>


	<!--登录-->
	<div class="login_popupbg loginPopup">
		<div class="login_popup">
			<div class="popup_title"><a class="exit_popup" v-on:click="colseLogin" href="javascript:;"><i class="icon"></i></a></div>
			<div class="login_head">
				快修账号登录
			</div>
			<div class="login_input">
				<input class="text placeholder" v-model="tel" id="inputtel" maxlength="11" type="text" value="请输入下单手机号" placeholder="请输入下单手机号" />
			</div>
			<div class="login_input">
				<input class="text psw placeholder" v-model="checkCode" type="text" value="请输入短信验证码" placeholder="请输入短信验证码" />
				<input class="get_validate" type="button" value="获取验证码" data-verify="发送短信" v-on:click="sendMsg($event)" />
			</div>
			<div class="login_submit">
				<input class="submit" type="submit" v-on:click="Login" value="查询/支付" />
			</div>
		</div>
	</div>


	<!--错误提示-->
	<div class="remind_delivery_bg">
		<div class="remind_delivery_cont">
			<p>请输入正确的手机号码</p>
		</div>
	</div>
	<!--错误提示end-->

	<script src="js/jquery-1.8.3.min.js"></script>
	<script type="text/javascript">
		window.onload = function(){
			
			var source = GetQueryString('fm');
			//当用户是移动端登录时，将地址转到对应的手机端页面
			//当解析的域名是m-super.cn是跳转到回收页面
			//17t033o025.iok.la    m-super.cn
			var u='m-super.cn';
			if((location.href).indexOf(u)>0){
				 //根据fm 返回不同页面  分为 1公众号页面 和 2欢GO页面
				 if(source==1){
					 window.location.href =linkUrl+"/ty_wap/index.html?fm="+source;
				 }else if(source==2){
					 window.location.href =linkUrl+"/ty_wap/index1.html?fm="+source;
				 }else{
					 window.location.href =linkUrl+"/ty_wap/index.html?fm="+source; 
				 }
		         return;
			}
			if(/Android|webOS|iPhone|iPod|BlackBerry/i.test(navigator.userAgent)) {
		         window.location.href =linkUrl+"/wechat/wap.html?fm="+source;
		         return;
			} 
			$('#body').show();
			var oBox = document.getElementById('box');
			var oPrev = getByClass(oBox,'prev')[0];
			var oNext = getByClass(oBox,'next')[0];
			var oBigUl = getByClass(oBox,'bigUl')[0];
			var aLiBig = oBigUl.getElementsByTagName('li');
			var oNumUl = getByClass(oBox,'numberUl')[0];
			var aLiNumber = oNumUl.getElementsByTagName('li');
			var nowZindex = 1;
			var now = 0;
			function tab()
			{
				for(var i=0; i<aLiNumber.length; i++)
				{
					aLiNumber[i].className = '';
				}
				aLiNumber[now].className = 'night';

				aLiBig[now].style.zIndex = nowZindex++;
				aLiBig[now].style.opacity = 0;
				startMove(aLiBig[now],'opacity',100);
			}

			for(var i=0; i<aLiNumber.length; i++)
			{
				aLiNumber[i].index = i;
				aLiNumber[i].onclick = function()
				{

					if(this.index==now)return;
					now = this.index;

					tab();
				}
			}
			oPrev.onclick = function()
			{
				now--;
				if(now==-1)
				{
					now=aLiNumber.length-1;
				}
				tab();
			};

			oNext.onclick = function()
			{
				now++;
				if(now==aLiNumber.length)
				{
					now=0;
				}
				tab();
			};

			var timer = setInterval(oNext.onclick,3000);
			oBox.onmouseover = function()
			{
				clearInterval(timer)
			}
			oBox.onmouseout = function()
			{
				timer = setInterval(oNext.onclick,3000);//改变速度修改3000 ，例如3000=3秒钟
			}
		}
	</script>
	<script src="js/script.js"></script>
	<script src="js/common.js"></script>
	<script src="js/login.js"></script>
</body>
</html>
