<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <title>订单列表-M超人</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="js/vue.min.js"></script>

</head>
<body>
<div class="index_topmenubg">
    <div class="index_topmenu">
        <a class="logo" href="index.html"><img src="img/logo.jpg" /></a>
        <div class="index_topright">
            <div class="inquiry">
                <input class="text" readonly="readonly" type="text" value="查询/支付" placeholder="查询/支付" />
                <input class="search" type="button" value="" />
            </div>
        </div>

        <div class="top_menus">
            <a class="href" href="index.html">首页</a>
            <a class="href hrefin" href="fault.html">手机维修</a>
            <a class="href" href="http://huishou.m-super.cn/">旧机回收</a>
            <a class="href" href="http://huishou.m-super.cn/">以旧换新</a>
        </div>
    </div>
</div>

<div class="content_title">
    <div class="title"><i class="line"></i><span>门店商列表</span></div>
</div>

<script type="text/template" id="template_pagination">
    <div class="page_content">
        <a href="javascript:;" :class="{'disabled': current == 1}" @click="setCurrent(1)"> 首页 </a>
        <a href="javascript:;" :class="{'disabled': current == 1}" @click="setCurrent(current - 1)"> 上一页 </a>
        <a href="javascript:;" v-for="p in grouplist" :class="{'pageIn': current == p.val}" @click="setCurrent(p.val)"> {{ p.text }} </a>
        <a href="javascript:;" :class="{'disabled': current == page}" @click="setCurrent(current + 1)"> 下一页</a>
        <a href="javascript:;" :class="{'disabled': current == page}" @click="setCurrent(page)"> 尾页 </a>
    </div>
</script>

<div id="app" class="tobe_paid">

    <div class="order_head">
        <table class="order_headtab">
            <thead>
            <tr>
                <th width="204">机型</th>
                <th width="180">维修故障/数量</th>
                <th width="139">价格（元）</th>
                <th width="208">下单人姓名/电话</th>
                <th>操作</th>
            </tr>
            </thead>
        </table>
    </div>

    <div class="order_list">

        <div class="paid_tab" v-for="(list,index) in orderList">
            <div class="tab_head">
                <p>{{list.shopName}}</p>
                <p class="time">订单号：{{list.orderNo}}</p>
                <p class="time">下单时间：{{list.inTime}}</p>
                <p class="blue">{{list.StatusMes}}</p>
            </div>
            <!--维修-->
            <div class="tab_content" v-if="list.orderType == 0">
                <div>
                    <p>{{list.modelName}}</p>
                </div>
                <div v-if="list.shopPros.length!=0">
                    <p v-for="shopPro in list.shopPros">{{shopPro.projectName}}</p>
                </div>
                <div v-else>
                    <p v-for="cusPro in list.cusPros">{{cusPro.projectName}}</p>
                </div>
                <div>
                    <p>{{list.realPrice}}</p>
                </div>
                <div>
                    <p>{{list.cusName}}</p>
                    <p>{{list.mobile}}</p>
                </div>
                <div v-if="list.orderStatus == 30">
                    <p class="red">（注意：支付价格以工程师维修故障价格为准）</p>
                    <a class="but" :href="'payBalance.html?id=' + list.id" target="_blank">确认并支付</a>
                    <a class="but" :href="'order_details.html?id=' + list.id ">查看订单</a>
                </div>
                <div v-else-if="list.orderStatus == 40">
                    <p class="red">（注意：确认手机已完成维修并可以正常使用）</p>
                    <a class="but" href="javascript:void(0);"  @click="orderConfirm">确认收货</a>
                    <a class="but" :href="'order_details.html?id=' + list.id ">查看订单</a>
                </div>
                <div v-else-if="list.orderStatus == 50&& list.isComment == 0">
                    <a class="but" :href="'evaluate.html?id='+list.id" target="_blank">评 价</a>
                    <a class="but" :href="'order_details.html?id=' + list.id ">查看订单</a>
                </div>
                <div v-else>
                    <a class="but" :href="'order_details.html?id=' + list.id ">查看订单</a>
                </div>

            </div>

            <!--以旧换新-->
            <div v-else-if="list.orderType == 1" class="tab_content amount_content">
                <div><p>{{list.agreedModel}}</p></div>
                <div><p>X1</p></div>
                <div><p>{{list.realPrice}}</p></div>
                <div>
                    <p>{{list.cusName}}</p>
                    <p>{{list.mobile}}</p>
                </div>
                <div v-if="list.orderStatus == 12">
                    <!-- <p class="red">（注意：支付价格以工程师报价为准）</p> -->
                    <a class="but" :href="'payBalance.html?id=' + list.id" target="_blank">确认并支付</a>
                    <a class="but" :href="'newOrder_details.html?id=' + list.id ">查看订单</a>
                </div>
                <div v-else-if="list.orderStatus == 50&& list.isComment == 0">
                    <a class="but" :href="'evaluate.html?id='+list.id" target="_blank">评 价</a>
                    <a class="but" :href="'newOrder_details.html?id=' + list.id ">查看订单</a>
                </div>
                <div v-else>
                    <a class="but" :href="'newOrder_details.html?id=' + list.id ">查看订单</a>
                </div>
            </div>

        </div>

    </div>


    <pagination :total="total" :current.sync="current"></pagination>
</div>

<div class="index_copyright">
    <div class="index_copycont">
        <p>Copyright 2016 All Rights Reserved 杭州翼诺科技有限公司 技术支持 浙ICP备16041546号</p>
        <div class="code">
            <img src="img/code.png" />
            <span>扫码关注微信公众号</span>
        </div>
    </div>
</div>

<!--登录-->
<div class="login_popupbg loginPopup">
    <div class="login_popup">
        <div class="popup_title"><a class="exit_popup" v-on:click="colseLogin" href="javascript:;"><i class="icon"></i></a></div>
        <div class="login_head">
            快修账号登录
        </div>
        <div class="login_input">
            <input class="text placeholder" v-model="tel" id="inputtel" maxlength="11" type="text" value="请输入下单手机号" placeholder="请输入下单手机号" />
        </div>
        <div class="login_input">
            <input class="text psw placeholder" v-model="checkCode" type="text" value="请输入短信验证码" placeholder="请输入短信验证码" />
            <input class="get_validate" type="button" value="获取验证码" data-verify="发送短信" v-on:click="sendMsg($event)" />
        </div>
        <div class="login_submit">
            <input class="submit" type="submit" v-on:click="Login" value="查询/支付" />
        </div>
    </div>
</div>

<!--错误提示-->
<div class="remind_delivery_bg">
    <div class="remind_delivery_cont">
        <p></p>
    </div>
</div>
<!--错误提示end-->
<!--确认提示-->
<div class="popup_bg" style="display: none;">
<div class="popup_content" style="display: none;">
    <div class="popup_cont">
        <div class="popup_title"></div>
        <div class="popup_font"></div>
        <div class="popup_but">
            <a class="but cancel" href="javascript:void(0);">取 消</a>
            <a class="but confirm" href="javascript:void(0);">确 认</a>
        </div>
        <a class="popup_exit" href="javascript:void(0);"></a>
    </div>
</div>
</div>
<!--确认提示end-->
<!--遮盖层-->
<div id="mask_boxs" style="position: absolute;top:0;left: 0;width:100%;height:100%;display: none;z-index:50;">
    <div id="masks"></div>
    <div id="mcon">
        <img src="img/loadings.gif" style="width: 80px;height:80px;position:fixed; top:50%;left:50%; margin-left:-25px;  margin-top:-25px;z-index:999"/>
    </div>
</div>
<!--遮盖层end-->
<script src="js/jquery-1.8.3.min.js"></script>
<script src="js/login.js"></script>
<script src="js/common.js"></script>
<script>
    var access_token = sessionStorage.getItem('access_token');
    if (access_token == null){
        realAlert('系统提示','您离开系统时间过长，请重新登录!',function () {
            window.location.href='index.html'
        })
    }
    /**
     * [pagination 分页组件]
     * @param  {Number} total 		[数据总条数]
     * @param  {Number} display 	[每页显示条数 default:10]
     * @param  {Number} current 	[当前页码 default:1]
     * @param  {Number} pagegroup 	[分页条数(奇数) default:5]
     * @param  {Event} pagechange 	[页码改动时 dispatch ]
     * @return {[type]}   [description]
     */
    Vue.component('pagination', {
        template: '#template_pagination',
        props: {
            total: {			// 数据总条数
                type: Number,
                default: 0
            },
            display: {			// 每页显示条数
                type: Number,
                default: 5
            },
            current: {			// 当前页码
                type: Number,
                default: 1
            },
            pagegroup: {		// 分页条数 -- 奇数
                type: Number,
                default: 5,
                coerce:function(v){
                    v = v > 0 ? v : 5;
                    return v % 2 === 1 ? v : v + 1;
                }
            }
        },
        computed: {
            page:function() { // 总页数
                return Math.ceil(this.total / this.display);
            },
            grouplist:function(){ // 获取分页页码
                var len = this.page , temp = [], list = [], count = Math.floor(this.pagegroup / 2) ,center = this.current;
                if( len <= this.pagegroup ){
                    while(len--){ temp.push({text:this.page-len,val:this.page-len});};
                    return temp;
                }
                while(len--){ temp.push(this.page - len);};
                var idx = temp.indexOf(center);
                (idx < count) && ( center = center + count - idx);
                (this.current > this.page - count) && ( center = this.page - count);
                temp = temp.splice(center - count -1, this.pagegroup);
                do {
                    var t = temp.shift();
                    list.push({
                        text: t,
                        val: t
                    });
                }while(temp.length);
                if( this.page > this.pagegroup ){
                    (this.current > count + 1) && list.unshift({ text:'...',val: list[0].val - 1 });
                    (this.current < this.page - count) && list.push({ text:'...',val: list[list.length - 1].val + 1 });
                }
                return list;
            }
        },
        methods: {
            setCurrent: function(idx) {
                if( this.current != idx && idx > 0 && idx < this.page + 1) {
                    app.readyLoad(idx);
                    this.current = idx;
                }
            }
        }
    });

    var app = new Vue({
        el: '#app',
        data: {
            total: 1,
            display: 5,
            current: 1,
            orderList:[]
        },
        mounted:function () {
            this.readyLoad(this.current);
        },
        methods: {
            StatusMes:function (status) {
                var message = '';
                switch (status){
                    case 0:
                        message = "生成订单";
                        break;
                    case 2:
                        message = "待派单";
                        break;
                    case 3:
                        message = "待门店收件";
                        break;
                    case 5:
                        message = "门店已收件";
                        break;
                    case 11:
                        message = "待预约";
                        break;
                    case 12:
                        message = "已预约";
                        break;
                    case 20:
                        message = "定位故障";
                        break;
                    case 30:
                        message = "待付款";
                        break;
                    case 35:
                        message = "正在维修";
                        break;
                    case 40:
                        message = "待收货";
                        break;
                    case 50:
                        message = "已完成";
                        break;
                    case 60:
                        message = "已取消";
                        break;
                }
                return message;
            },
            dealNumber:function(num){
                return num%1 == 0 ? num+".00":(num%1).toFixed(2);
            },
            readyLoad:function(idx){
                fn_loading();
                var  _self = this,
                    params = {
                        pageIndex:idx,
                        pageSize:_self.display,
                        status:'0,2,3,5,11,12,20,30,35,40,50,60',
                        newStatus:'0,2,11,12,50,60'
                    };
                    _self.current = idx;
                $.ajax({
                    type:'POST',
                    url:linkUrl+'/wechat/order/getOrderList.do',
                    dataType:'json',
                    data:{
                        access_token:access_token,
                        params:JSON.stringify(params)
                    },
                    xhrFields: {
                            withCredentials: true
                        },
                    crossDomain: true,
                    success:function (data) {
                        loading_hide();
                        if (data.success){
                        	$('#app').show();
                            var result = data.result.orderList;
                            _self.total = data.result.orderSize;
                            
                            _self.orderList = [];

                            for (var i = 0;i < result.length;i++){
                                var cusPro = [],shopPro = [];
                                if (result[i].orderType == 0){//0表示维修订单 1表示以旧换新订单
                                    for(var j = 0;j<result[i].projects.length;j++){
                                        if(result[i].projects[j].type == 0){

                                            cusPro.push({projectName:result[i].projects[j].projectName})
                                        }else{
                                            shopPro.push({projectName:result[i].projects[j].projectName})
                                        }
                                    }
                                    _self.orderList.push({
                                        orderType:0,
                                        id:result[i].id,
                                        shopName:result[i].shopName,
                                        orderNo:result[i].orderNo,
                                        inTime:result[i].inTime,
                                        orderStatus:result[i].orderStatus,
                                        StatusMes:_self.StatusMes(result[i].orderStatus),
                                        modelName:result[i].modelName + result[i].color,
                                        cusPros:cusPro,
                                        shopPros:shopPro,
                                        realPrice:result[i].realPrice.toFixed(2),
                                        cusName:result[i].customerName,
                                        mobile:result[i].mobile,
                                        isComment:result[i].isComment
                                    });

                                }else {
                                    var model,price;
                                    if (result[i].selectType == 0){//0换手机
                                        if(result[i].isAgreed == 1){
                                            model = result[i].oldModel;
                                            price = "0.00"
                                        }else{
                                            model = result[i].agreedNews.agreedModel+' '+result[i].agreedNews.color+' '+result[i].agreedNews.memory+'G '+result[i].agreedNews.edition;
                                            price = result[i].realPrice.toFixed(2);
                                        }
                                    }else {
                                        model = "换话费";
                                        price = result[i].realPrice.toFixed(2);
                                    }

                                    _self.orderList.push({
                                        orderType:1,
                                        id:result[i].id,
                                        shopName:result[i].shopName,
                                        orderNo:result[i].orderNo,
                                        inTime:result[i].inTime,
                                        orderStatus:result[i].orderStatus,
                                        StatusMes:_self.StatusMes(result[i].orderStatus),
                                        agreedModel:model,
                                        realPrice:price,
                                        cusName:result[i].customerName,
                                        mobile:result[i].mobile,
                                        isComment:result[i].isComment
                                    })
                                }
                            }
                        }else {
                            if (data.hasOwnProperty("exceptionType")){
                                eCacheUtil.storage.cache(CacheKey.exceptionType,data.exceptionType);
                                eCacheUtil.storage.cache(CacheKey.errorExceptionMsg,data.msg);
                                window.location.href = 'error.html';
                            }else {
                                dataError(data.resultMessage);
                                if (data.resultCode!=null&&data.resultCode.indexOf('200')>=0){
                                    window.location.href = 'index.html';
                                }
                            }
                        }
                    },
                    error:function (jqXHR) {
                        loading_hide();
                        dataError('系统异常，请稍后再试');
                    }
                })
            },
            orderConfirm:function () {
                var params = {
                    id:this.id
                };
                $.ajax({
                    type:'POST',
                    url:linkUrl+'/wechat/order/orderConfirmToFinish.do',
                    dataType:'json',
                    data:{
                        access_token:access_token,
                        params:JSON.stringify(params)
                    },
                    success:function (data) {
                        if (data.success){
                            window.location.reload();
                            dataError("订单已确认");
                        }else {
                            if (data.exceptionType){
                                eCacheUtil.storage.cache(CacheKey.exceptionType,data.exceptionType);
                                eCacheUtil.storage.cache(CacheKey.errorExceptionMsg,data.msg);
                                window.location.href = 'error.html';
                            }else {
                                dataError(data.resultMessage);
                                if (data.resultCode!=null&&data.resultCode.indexOf('200')>=0){
                                    window.location.href = 'index.html';
                                }
                            }
                        }
                    },
                    error:function (jqXHR) {
                        dataError('系统异常，请稍后再试！');
                    }
                })
            }
        }
    });
</script>
</body>
</html>