*{margin:0;padding:0;}
.clearfix:after {content: " ";display: block;clear: both;height: 0;}
.clearfix {zoom: 1;}
/** 分页样式 **/
.order-info .detail-table{
	width: 100%;
	border-collapse: separate;
	padding: 0 20px;
}

.order-info .detail-table .td-title{
	width: 150px;
	background: #f5faf2;
    vertical-align: initial;
    border: 1px solid #d6e9c6;
    padding: 10px 20px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.order-info .detail-table .td-space{
	width: 10px;
}

.order-info .detail-table .tr-space{
    height: 10px;
}

.order-info .detail-table .td-info{
	background: #f5faf2;
    vertical-align: initial;
    border: 1px solid #d6e9c6;
    padding: 10px 20px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}



/*取消订单*/
.order_cancel{position: absolute;top:0;left: 0;display: none;
    width: 100%;height: 100%;background: rgba(0,0,0,0.7);transition: .3s;overflow: auto;z-index:10}
.order_cancel .order_cancel_cont{margin:0 auto;margin-top:140px;box-sizing:border-box;width:450px;background-color:#fff;text-align: center;}
.order_cancel .order_cancel_cont>p{ background-color: #0099FF;height: 30px;vertical-align: middle;color: #FFF;font-size: 18px;padding: 10px 0 8px 20px;-webkit-box-sizing: initial;box-sizing: initial;}
.order_cancel .fault_list{padding:0 40px;text-align:left;}
.order_cancel .fault_list li{display:inline-block; height: 42px;min-width:140px;border-radius: 10px; border: solid 2px #3bb4f2; padding: 0 30px; margin-right: 25px;margin-bottom: 12px;overflow: hidden;cursor: pointer;color: #464646;}
.order_cancel .fault_list li a{text-decoration:none;color:#333;line-height:38px;}
.order_cancel .fault_list li.fault_in{border-color: #439aff;color: #439aff;position: relative;}
.order_cancel .fault_list li.fault_in:after{ content:''; position: absolute; right:-40px; bottom: 0;  width:100px; height:22px; background: #439aff; display: inline-block; -webkit-transform:rotate(135deg); transform:rotate(135deg);}

.order_cancel .fault_list li.fault_in a:after{content: ''; width: 2px; height: 8px; background: #FFFFFF; position: absolute; top:26px; right:15px; -webkit-transform:rotate(-45deg);transform:rotate(-45deg);  z-index: 9;}
.order_cancel .fault_list li.fault_in a:before{content: ''; width: 2px; height: 18px; background: #FFFFFF;position: absolute; top:16px; right:7px;-webkit-transform:rotate(37deg); transform:rotate(37deg); z-index: 9;}

.order_cancel textarea{resize: none;box-sizing: border-box;width: 80%;height:80px;padding:10px;font-size:16px;border: 2px solid #dcdcdc;}
.order_cancel .index_but{display: flex;justify-content: space-around;padding-top: 20px;padding-bottom: 20px}
.order_cancel .index_but a{display: inline-block;box-sizing: border-box;width: 120px;height: 40px;border:1px solid #439AFF;border-radius: 10px;text-decoration:none;text-align: center;color: #439AFF;line-height:38px;}
.order_cancel .index_but a.btn-confirm{background-color: #439AFF;color: #FFFFFF;}